[bar/bee-top]
monitor   = eDP1

locale = de_DE.UTF-8
fixed-center = false
bottom = false

width = 100%
height = 26
offset-x = 0
offset-y = 0

background = #101010
foreground = ${vars.bright-foreground}

line-size = 2
line-color = ${vars.highlight-color}

separator = " "

font-0 = Noto Sans:pixelsize=9;3
font-1 = Noto Sans CJK JP:pixelsize=9;2
font-2 = 3270Medium Nerd Font:pixelsize=9;2
font-3 = Noto Mono:pixelsize=9;3

modules-left = powermenu workspaces
modules-center = xwindow
modules-right = mpd mpd-control cpu memory pkg volume microphone keyboard date time

wm-restack = bspwm

enable-ipc = true


[vars]
bright-background = #333333
dark-background = #1c1c1c
bright-foreground = #ffffff
dark-foreground = #505050

highlight-color = #76b9ed
eye-catch-color = #a40fb0
warning-color = #ff5400
urgent-line-color = #ff7200
urgent-background = #995219

icon-color = #e5dc9d
icon-padding-right = 3


margin = 1
module-padding = 5
workspace-padding = 4

font-mono = 4


[module/powermenu]
type = custom/menu


label-open = 
label-open-padding = ${vars.module-padding}
label-open-foreground = #1793d1
label-open-background = ${vars.bright-background}

label-close = 
label-close-padding = ${vars.module-padding}
label-close-foreground = #f00
label-close-background = ${vars.bright-background}
label-close-margin-right = ${vars.margin}

menu-0-0 = 
menu-0-0-exec = slock
menu-0-0-padding = ${vars.module-padding}
menu-0-0-background = ${vars.bright-background}
menu-0-0-margin-right = ${vars.margin}

menu-0-1 = 
menu-0-1-exec = bspc quit
menu-0-1-padding = ${vars.module-padding}
menu-0-1-background = ${vars.bright-background}
menu-0-1-margin-right = ${vars.margin}

menu-0-2 = 
menu-0-2-exec = halt
menu-0-2-padding = ${vars.module-padding}
menu-0-2-background = ${vars.bright-background}
menu-0-2-margin-right = ${vars.margin}

menu-0-3 = 
menu-0-3-exec = reboot
menu-0-3-padding = ${vars.module-padding}
menu-0-3-background = ${vars.bright-background}
menu-0-3-margin-right = ${vars.margin}

menu-0-4 = 
menu-0-4-exec = poweroff
menu-0-4-padding = ${vars.module-padding}
menu-0-4-background = ${vars.bright-background}

[module/workspaces]
type = internal/xworkspaces
pin-workspaces = false
enable-click = true
enable-scroll = true
format-padding = 0
icon-0 = 
icon-1 = 
icon-2 = 
icon-3 = 
icon-4 = 
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
icon-default = 
format = <label-state>
label-active = %icon%
label-active-padding = 1
label-occupied = %icon%
label-occupied-padding = 1
label-urgent = %icon%
label-urgent-padding = 1
label-empty = %icon%
label-empty-padding = 1

label-active-foreground = ${vars.dark-foreground}
label-active-background = ${vars.bright-background}
label-focused-overline = ${vars.highlight-color}

label-urgent-foreground = ${vars.bright-foreground}
label-uregent-background = ${vars.dark-background}

label-empty-foreground = ${vars.bright-foreground}
label-empty-background = ${vars.dark-background}



[module/bspwm]
type = internal/bspwm

pin-workspaces = false
enable-click = false
enable-scroll = false

ws-icon-0 = 1;¹  
ws-icon-1 = 2;²  
ws-icon-2 = 3;³  
ws-icon-3 = 4;⁴  
ws-icon-4 = 5;⁵  
ws-icon-5 = 6;⁶  
ws-icon-6 = 7;⁷  
ws-icon-7 = 8;⁸  
ws-icon-8 = 9;⁹  
ws-icon-9 = 0;⁰  

label-focused = %icon%
label-focused-background = ${vars.bright-background}
label-focused-overline = ${vars.highlight-color}
label-focused-padding = ${vars.workspace-padding}
label-focused-margin-right = ${vars.margin}

label-occupied = %icon%
label-occupied-background = ${vars.dark-background}
label-occupied-padding = ${vars.workspace-padding}
label-occupied-margin-right = ${vars.margin}

label-urgent = %icon%
label-urgent-background = ${vars.urgent-background}
label-urgent-overline= ${vars.urgent-line-color}
label-urgent-padding = ${vars.workspace-padding}
label-urgent-margin-right = ${vars.margin}

label-empty = %icon%
label-empty-foreground = ${vars.dark-foreground}
label-empty-background = ${vars.dark-background}
label-empty-padding = ${vars.workspace-padding}
label-empty-margin-right = ${vars.margin}

label-dimmed-focused-background = ${vars.dark-background}

format = <label-state>





[module/xwindow]
type = internal/xwindow

format-padding = ${vars.module-padding}
format-background = ${vars.dark-background}
format-overline = ${vars.bright-background}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label = %title:0:60:…%
format = <label>





[module/time]
type = internal/date

interval = 1

time = %H %M
time-alt = %H %M %S

format-background = ${vars.bright-background}
format-overline = ${vars.highlight-color}
format-padding = ${vars.module-padding}

label-font = ${vars.font-mono}

label = %time%
format = <label>



[module/date]
type = internal/date

interval = 60

date = %a %d  %b
date-alt = %d.%m.%Y

format-background = ${vars.bright-background}
format-overline = ${vars.highlight-color}
format-padding = ${vars.module-padding}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label = %date%
format = <label>




[module/keyboard]
type = internal/xkeyboard

format-padding = ${vars.module-padding}
format-background = ${vars.bright-background}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label-layout = %layout%
format = <label-layout>



[module/volume]
type = internal/volume

; Muted

format-muted-background = ${vars.bright-background}
format-muted-overline = ${vars.warning-color}
format-muted-padding = ${vars.module-padding}
format-muted-prefix = 
format-muted-prefix-padding-right = ${vars.icon-padding-right}
format-muted-prefix-foreground = ${vars.icon-color}

label-muted-font = ${vars.font-mono}

label-muted = %percentage:3%
format-muted = <label-muted>

; Volume / Unmuted

format-volume-background = ${vars.bright-background}
format-volume-padding = ${vars.module-padding}
format-volume-prefix = 
format-volume-prefix-padding-right = ${vars.icon-padding-right}
format-volume-prefix-foreground = ${vars.icon-color}

label-volume-font = ${vars.font-mono}

label-volume = %percentage:3%
format-volume = <label-volume>



[module/microphone]
type = custom/ipc

hook-0 = amixer -D pulse sset Capture toggle | grep -q off && echo "" || echo ""
hook-1 = amixer -D pulse sget Capture | grep -q off && echo "" || echo ""
initial = 2

format-background = ${vars.bright-background}
format-foreground = ${vars.icon-color}
format-padding = ${vars.module-padding}

click-left = polybar-msg -p %pid% hook microphone 1




[module/pkg]
type = custom/script

interval = 1200

format-background = ${vars.bright-background}
format-padding = ${vars.module-padding}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label-font = ${vars.font-mono}

label = %output:3%
format = <label>

exec-if = ping -q -w 1 -c 1 $(ip r | grep default | cut -d ' ' -f 3) > /dev/null
exec = mol -x 2 $(( $(checkupdates | wc -l) + $(cower -u | wc -l) ))



[module/memory]
type = internal/memory

interval = 3

format-padding = ${vars.module-padding}
format-background = ${vars.bright-background}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label-font = ${vars.font-mono}

label = %percentage_used:3%
format = <label>



[module/cpu]
type = internal/cpu

interval = 1

format-padding = ${vars.module-padding}
format-background = ${vars.bright-background}
format-prefix = 
format-prefix-padding-right = ${vars.icon-padding-right}
format-prefix-foreground = ${vars.icon-color}

label-font = ${vars.font-mono}

label = %percentage:3%
format = <label>



[module/mpd]
type = internal/mpd

host = ::1
port = 6600
password =

; Online

format-online-padding = ${vars.module-padding}
format-online-background = ${vars.bright-background}
format-online-prefix = 
format-online-prefix-padding-right = ${vars.icon-padding-right}
format-online-prefix-foreground = ${vars.icon-color}

; Paused

format-paused-padding = ${vars.module-padding}
format-paused-background = ${vars.bright-background}
format-paused-prefix = 
format-paused-prefix-padding-right = ${vars.icon-padding-right}
format-paused-prefix-foreground = ${vars.icon-color}

; Playing

format-playing-padding = ${vars.module-padding}
format-playing-background = ${vars.bright-background}
format-playing-prefix = 
format-playing-prefix-padding-right = ${vars.icon-padding-right}
format-playing-prefix-foreground = ${vars.icon-color}

; Stopped

format-stopped-padding = ${vars.module-padding}
format-stopped-background = ${vars.bright-background}
format-stopped-prefix = 
format-stopped-prefix-padding-right = ${vars.icon-padding-right}
format-stopped-prefix-foreground = ${vars.icon-color}

; Offline

format-offline-padding = ${vars.module-padding}
format-offline-background = ${vars.bright-background}
format-offline-foreground = ${vars.warning-color}
format-offline-prefix = 
format-offline-prefix-padding-right = ${vars.icon-padding-right}
format-offline-prefix-foreground = ${vars.icon-color}

label-offline = offline
format-offline = <label-offline>

label-song = %title:0:30:…%
format-online = <label-song>



[module/mpd-control]
type = internal/mpd

; Online
format-online-padding = ${vars.module-padding}
format-online-background = ${vars.bright-background}

; Paused
format-paused-padding = ${vars.module-padding}
format-paused-background = ${vars.bright-background}

; Playing
format-playing-padding = ${vars.module-padding}
format-playing-background = ${vars.bright-background}

; Stopped
format-stopped-padding = ${vars.module-padding}
format-stopped-background = ${vars.bright-background}

; Offline
format-offline-padding = ${vars.module-padding}
format-offline-background = ${vars.bright-background}



; Icon
icon-pause = 
icon-pause-padding-right = 3
icon-pause-foreground = ${vars.highlight-color}

icon-play = 
icon-play-padding-right = 3

icon-random = 
icon-random-padding-right = 3

icon-repeat = 
icon-repeat-padding-right = 3

icon-repeatone = 
icon-repeatone-padding-right = 3

icon-consume = 

toggle-on-foreground = ${vars.highlight-color}

format-online = <toggle> <icon-random> <icon-repeat> <icon-repeatone> <icon-consume>





; -- unused modules --


[module/wired-network]
type = internal/network
interface = enp7s0

interval = 3

format-connected-background = ${vars.bright-background}
format-connected-padding = ${vars.module-padding}

format-disconnected-overline = ${vars.warning-color}
format-disconnected-background = ${vars.bright-background}
format-disconnected-padding = ${vars.module-padding}

format-connected = 
format-disconnected = 



[module/wireless-network]
type = internal/network

interface = wlp3s0
interval = 5

format-disconnected-background = ${vars.bright-background}
format-disconnected-overline = ${vars.warning-color}
format-disconnected-padding = ${vars.module-padding}
format-disconnected-prefix = 
format-disconnected-prefix-padding-right = ${vars.icon-padding-right}
format-disconnected-prefix-foreground = ${vars.icon-color}

label-disconnected = ""
format-disconnected = ""

format-connected-background = ${vars.bright-background}
format-connected-padding = ${vars.module-padding}
format-connected-prefix = 
format-connected-prefix-padding-right = ${vars.icon-padding-right}
format-connected-prefix-foreground = ${vars.icon-color}

label-connected = %essid%
format-connected = <label-connected>



[module/bluetooth]
type = custom/script

interval = 5

format-background = ${vars.bright-background}
format-padding = ${vars.module-padding}
format-connected-prefix = 
format-connected-prefix-padding-right = ${vars.icon-padding-right}
format-connected-prefix-foreground = ${vars.icon-color}

label-font = ${vars.font-mono}

label = %output:3%
format = <label>

exec = test $(systemctl is-active bluetooth.service) = "active" && echo "on" || echo "off"



[module/battery]
type = internal/battery

full-at = 99

battery = BAT0
adapter = ADP1

time-format = %_H:%_M

; Ramp

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

ramp-capacity-padding-right = ${vars.icon-padding-right}
ramp-capacity-foreground = ${vars.icon-color}

; Discharging

label-discharging-font = ${vars.font-mono}

label-discharging = %percentage:3% %time%
format-discharging = <ramp-capacity> <label-discharging>

; Charging

format-charging-prefix = 
format-charging-prefix-padding-right = ${vars.icon-padding-right}
format-charging-prefix-foreground = ${vars.icon-color}

label-charging-font = ${vars.font-mono}

label-charging = %percentage:3% %time%
format-charging = <label-charging>

; Full

format-full-prefix = 
format-full-prefix-padding-right = ${vars.icon-padding-right}
format-full-prefix-foreground = ${vars.icon-color}

label-full-font = ${vars.font-mono}

label-full = %percentage:3% %time%
format-full = <label-full>

; vim:ft=dosini
