
;=======================================;
;                                       ;
;   Clean and green polybar config      ;
;                                       ;
;=======================================;

;
; Colors
;

[colors]
graphite = #181C24
gray = #707f9c
green = #FFBD92
white = #ffffff

;
; Bar
;

[bar/cleangreen]
monitor = eDP1
width = 98%
height = 35
offset-x = 1%
offset-y = 1%
radius = 0.0

background = ${colors.graphite}
foreground = ${colors.white}

border-size = 3
border-color = ${colors.graphite}

module-margin-left = 1
module-margin-right = 1

font-0 = VCR OSD Mono:pixelsize=10;3
font-1 = Iosevka:weight=bold:pixelsize=13;3
font-2 = FontAwesome:pixelsize=14;3
font-3 = Iosevka:pixelsize=15
font-4 = icomoon:size=15:antialias=false;2


modules-left = openbox
modules-center = mpd
modules-right = volume date powermenu

wm-restack = bspwm

;
[module/weather]
type = custom/script
interval = 10
format = <label>
format-padding = 2
format-prefix = " "
format-suffix =
format-prefix-foreground = ${colors.green}
format-background = ${colors.graphite}
exec = /home/pringle/.config/polybar/scripts/weather


[module/mpd]
type = internal/mpd
format-online = <label-song>
format-offline = <label-offline>
label-offline = mpd offline
format-padding = 3
icon-play =
icon-pause = 
icon-stop = 
icon-prev = 
icon-next = 
icon-random = 
icon-repeat = 
toggle-on-foreground = ${colors.green}
toggle-off-foreground = ${colors.gray}
bar-progress-width = 30
bar-progress-fill = 
bar-progress-empty = 
bar-progress-indicator = 
bar-progress-indicator-foreground = ${colors.white}
bar-progress-fill-foreground = ${colors.green}
bar-progress-empty-foreground = ${colors.gray}
;
; Bspwm
;

[module/bspwm]
type = internal/bspwm

label-focused = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-focused-background = ${colors.green}
label-focused-foreground = ${colors.graphite}
label-focused-underline= #fff
label-focused-padding = 0

label-occupied = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-occupied-foreground = ${colors.white}
label-occupied-padding = 0

label-urgent = "%{T4} %{T-}%{T2}%index%!%{T-}%{T4} %{T-}"
label-urgent-foreground = ${colors.green}
label-urgent-padding = 0

label-empty = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-empty-foreground = ${colors.gray}
label-empty-padding = 0

[module/padding]
type=custom/text
content=|
content-foreground=${colors.background}
content-background=${colors.background}

[module/openbox]
type=internal/xworkspaces
pin-workspaces=true
enable-click=false
enable-scroll=false
format=<label-state>
label-monitor=%name%
label-active =%icon%%name%
label-active-foreground =${colors.graphite}
label-active-background =${colors.green}
label-active-underline=${colors.graphite}
label-active-padding=1
label-occupied =%name%
label-occupied-background=${colors.white}
label-occupied-padding=1
label-urgent=%index%
label-urgent-foreground=#000000
label-urgent-background=#bd2c40
label-urgent-underline=#9b0a20
label-empty =%name%
label-empty-padding=1
label-empty-background=${colors.graphite}
label-empty-foreground=${colors.white}

;
; Network
;

[module/wired]
type = internal/network
interface = enp3s0
interval = 3.0

format-connected = <label-connected>

format-connected-foreground = ${colors.green}
label-connected =""

format-disconnected = <label-disconnected>
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.white}

;
; DateTime
;

[module/date]
type = internal/date
interval = 5

;date = ""
date-alt = " %a %d %b"

time = %H:%M
time-alt = %H:%M

label = %date% %time%

;
; Volume
;

[module/volume]
type = internal/volume

format-volume = <ramp-volume>
label-volume = %percentage%%
label-volume-foreground = ${colors.white}

format-muted-prefix = " "
format-muted-foreground = ${colors.graphite}
format-muted-background =
label-muted = sound muted

ramp-volume-0 = vol -
ramp-volume-1 = vol+
ramp-volume-2 = vol++

;
; Powermenu
;

[module/powermenu]
type = custom/menu

label-open = "%{T4} %{T-}%{T4} %{T-}"
label-close =
format = <label-toggle><menu>
label-separator = " : "

format-foreground = ${colors.graphite}
format-background = ${colors.green}

menu-0-0 = logout
menu-0-0-exec = menu-open-1
menu-0-1 = reboot
menu-0-1-exec = menu-open-2
menu-0-2 = power
menu-0-2-exec = menu-open-3
menu-0-3 = "exit  "

menu-1-0 = 
menu-1-0-exec = systemctl suspend -i
menu-1-1 = "  "

menu-2-0 = 
menu-2-0-exec = systemctl reboot -i
menu-2-1 = ""

menu-3-0 = 
menu-3-0-exec = systemctl poweroff -i
menu-3-1 = ""

;
; Window-list
;

[module/windowlist]
type = custom/script
exec = $XDG_CONFIG_HOME/polybar/windowlist.sh

;zero interval causes high cpu load
interval = 0.5

scroll-up = bspc node -f prev.local
scroll-down = bspc node -f next.local
