;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[colors]

;++++++++++++++++++++++
; Dracula Color Theme +
;++++++++++++++++++++++

bg = #0F1419
bgg = #171821
fg = #f8f8f2
select = #44475a
blue = #B3E9DD
cyan = #789BD4
pink = #ff79c6
pink2 = #B33561
purple = #45788A
green = #37BF8D
green2 = #0F6177
orange = #D4B078
red = #D47893
red2 = #EC5F6C
yellow = #D4B078

;++++++++++++++++++++++

;background = ${xrdb:color0:#222}
background = ${colors.bg} 
background-alt = ${colors.select}
;foreground = ${xrdb:color7:#222}
foreground = ${colors.fg} 
foreground-alt = ${colors.select} 
primary = ${colors.purple} 
secondary = ${colors.cyan}
alert =  ${colors.pink}

[bar/example]
monitor = eDP1
;width = 1366
width = 100%
height = 30 
;offset-x = 0%
;offset-y = 0%
radius = 0.0
fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 4
;line-color = #f00

border-left-size = 0
border-top-size = 0
border-right-size = 0
border-bottom-size = 0
border-color = #00000000

padding-left = 0
padding-right = 0

module-margin-left = 1
module-margin-right = 2

font-0 = Bianco Sans:pixelsize=9;2
;font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-1 = Wuncon Siji:pixelsize=10;3
font-2 = Wuncon Siji:pixelsize=10 
font-3 = icomoon:fontformat=truetype:size=10:antialias=false;3
font-4 = FontAwesome:pixelsize=12;1

modules-left = powermenu openbox
modules-center =  mpd
modules-right = wlan memory cpu temperature battery xbacklight volume date
;modules-right = filesystem  xkeyboard memory cpu wlan eth battery temperature date powermenu

tray-position = false 
tray-padding = 2
;tray-transparent = true
;tray-background = #0063ff

;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

click-middle = skippy-xd --activate-window-picker
scroll-up = pamixer -i 2
scroll-down = pamixer -d 2
double-click-left = python /usr/bin/networkmanager_dmenu
double-click-middle = skippy-xd --activate-window-picker
double-click-right = powermenu.sh

[module/powermenu]
type = custom/menu

label-open =
label-open-foreground = ${colors.fg}
label-open-background = ${colors.bg}
label-open-padding = 4
label-close =
label-close-padding = 4
label-close-foreground = $[colors.red]
label-separator = |
label-separator-padding = 2
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = "  "
menu-0-0-exec = menu-open-1
menu-0-1 = "    "
menu-0-1-exec = menu-open-2
menu-0-2 =  "       "
menu-0-2-exec = menu-open-3

menu-1-0 =
menu-1-0-exec = menu-open-0
menu-1-1 =
menu-1-1-exec = ob-tile.sh -G
menu-1-2 =
menu-1-2-exec = ob-tile.sh -H
menu-1-3 =
menu-1-3-exec = ob-tile.sh -V

menu-2-0 =
menu-2-0-exec = systemctl poweroff
menu-2-1 =
menu-2-1-exec = menu-open-0

menu-3-0 =
menu-3-0-exec = herbstclient quit
menu-3-1 =
menu-3-1-exec = menu-open-0

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/openbox]
type=internal/xworkspaces
pin-workspaces=true
enable-click=true
enable-scroll=true
format=<label-state>
label-monitor=%name%
label-active =%icon%%name%
label-active-foreground =${colors.fg}
label-active-background =${colors.bgg}
label-active-underline=${colors.pink2}
label-active-padding=1
label-occupied =%name%
label-occupied-background=${colors.fg}
label-occupied-padding=1
label-urgent=%index%
label-urgent-foreground=${colors.red}
label-urgent-background=${colors.bg}
label-urgent-underline=${colors.red}
label-empty =%name%
label-empty-padding=1
label-empty-background=${colors.bg}
label-empty-foreground=${colors.fg}

[module/gmail]
type = custom/script
interval = 600

exec = /home/pringle/.config/polybar/scripts/gmail/polybar-gmail-module/gmail.py
click-left = xdg-open https://mail.google.com


[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/bspwm]
type = internal/bspwm

label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %name%
label-occupied-padding = 2

label-urgent = %name%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %name%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
strip-wsnumbers = true


; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %name% 
label-focused-background = ${module/bspwm.label-focused-background}
label-focused-underline = ${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-underline = ${colors.select}
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true

double-click-right = xfce4-terminal --tab --drop-down -T "mpd" -x "ncmpcpp" &

[module/xbacklight]
type = internal/xbacklight

format = <bar> <label> 
label = 

bar-width = 6 
bar-indicator = 
bar-indicator-foreground = ${colors.fg} 
bar-indicator-font = 2
bar-fill = 
bar-fill-font = 2
bar-fill-foreground = #608E9A
bar-empty = 
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.purple} 
label = %percentage%%
label-padding = 2

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.red}
label = %percentage_used%%
label-padding = 2

[module/wlan]
type = internal/network
interface = wlp2s0b1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = ${colors.purple}
;label-connected = %essid%
label-connected = %essid%

format-disconnected = 
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground-alt}

[module/eth]
type = internal/network
interface = enp3s0
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %Y-%m-%d"

time = %I:%M %p
time-alt = %H:%M:%S

;format-prefix = 
format-prefix-foreground = ${colors.foreground-alt}
;format-underline = ${colors.green2} 
format-background = ${colors.bgg} 

label = %time%
label-padding = 2
format-padding = 3

double-click-right = xfce4-terminal --tab --drop-down -T "mpd" -x "ncmpcpp" &

[module/volume]
type = internal/volume

format-volume = <bar-volume>
label-volume =  
label-volume-foreground = ${colors.select}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 11
bar-volume-foreground-0 = ${colors.cyan} 
bar-volume-foreground-1 = ${colors.cyan}
bar-volume-foreground-2 = ${colors.cyan}    
bar-volume-foreground-3 = ${colors.cyan}
bar-volume-foreground-4 = ${colors.cyan} 
bar-volume-foreground-5 = ${colors.pink} 
bar-volume-foreground-6 = ${colors.red} 
bar-volume-gradient = false
bar-volume-indicator = ||
bar-volume-indicator-font = 2
bar-volume-fill = |
bar-volume-fill-font = 2
bar-volume-empty = |
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

label-discharging-padding = 2
label-charging-padding = 2
label-full-padding = 2

format-charging = <animation-charging> <label-charging>
format-charging-underline = ${colors.purple} 

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-underline = ${colors.cyan}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${colors.green2}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = ${colors.orange}
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature%
label-warn = %temperature%
label-warn-foreground = ${colors.secondary}
label-padding = 2

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}

[module/menu]
type = custom/menu

format-spacing = 1

label-open = 
label-open-foreground = ${colors.secondary}
label-close =  cancel
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini