[bar/fuk0]
background = #12161A
foreground = #D7E7F1
acc01 = #E04F65
acc02 = #E24C81
acc03 = #E49F9F
acc04 = #037A74
acc05 = #479C8A
acc06 = #7CACD3


height = 30
width = 9%
offset-x = 5%
offset-y = 20
bottom = false
monitor = eDP1



fixed-center = true
font-0 = artwiz gelly:size=10;3
font-1 = icomoon:size=10;3
;font-1 = composite:size=8;2


modules-center =  mpd
module-margin = 2

tray-position = none
override-redirect = true

padding = 10
radius = 1.0
wm-name = bar


[bar/fuk02]
inherit = bar/fuk0
modules-center =    battery date
height = 30
width = 8%
offset-x = 91%
offset-y = 20
bottom = false



[bar/fuk03]
inherit = bar/fuk0
modules-center = 2bws
height = 30
width = 8%
offset-x = 50%
bottom = false

[bar/fuk06]
inherit = bar/fuk0
modules-center = backlight
height = 30
width = 3%
offset-x = 86%
bottom = false

[bar/fuk04]
inherit = bar/fuk0
modules-center = powermenu
height = 30
width = 2%
offset-x = 2%
offset-y = 20
bottom = false

[bar/fuk05]
inherit = bar/fuk0
modules-center = volume wlan
height = 30
width = 8%
offset-x = 76%
offset-y = 20
bottom = false


[module/date]
type = internal/date
interval = 60
date =  %H:%M
label = "   %date% "
format-padding = 1

[module/mail]
type = custom/script
; 600s = 10min
interval = 600
format = " <label> "
format-prefix = " "
format-prefix-foreground = ${colors.primary}
exec = ~/.config/polybar/mails

[module/hostname]
type = custom/script
interval = 256
format = "<label> "
format-prefix = "  "
exec = echo "$(uname -n)"

[module/ip]
type = custom/script
interval = 2
format = "<label> "
exec = echo "$(curl --limit-rate 1k -s https://ifcfg.me)" || echo ""

[module/backlight]
type = internal/xbacklight
label = "  %percentage% "
;

[module/mpd]
type = internal/mpd

host = 127.0.0.1
port = 6600
interval = 2
label-song = "    %artist%  "
label-offline = 🎜 mpd is offline
format-prefix = " "
format-online = <label-song> <icon-prev> <icon-pause> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = "  "
icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true
format-padding = 5


;

[module/workspace]
type = custom/script
interval = 1
label = %{A4:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))":}%{A5:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)-1))":}%icon% %{A}%{A}
exec = echo "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))"
format = <label>
format-prefix = " "

;

[module/2bws]
format-font       = 1
type              = custom/script
exec              = python3 ~/scripts/2bws.py
scroll-down       = exec xdesktop -p
scroll-up         = exec xdesktop -n
click-right       = exec xdesktop -p
click-left        = exec xdesktop -n
interval          = 0.01
format-padding    = 3


[module/battery]
type = internal/battery
battery = BAT0
adapter = ACAD
full-at = 98
poll-interval = 0
format-discharging = "<label-discharging> "
;format-discharging = " BAT <label-discharging> "
format-charging = " <label-charging> "
format-full = "  <label-full> "

ramp-capacity>


label-charging = "    %percentage% "
label-discharging = %percentage%
label-full = F%percentage%%
;
;
;

[module/wlan]
type = internal/network
format-connected = <label-connected>
interface = wlp3s0
interval = 5
label-connected = "net %downspeed:6% "
;

[module/volume]
type = internal/volume
format-volume =  " <label-volume> "
format-muted = 0%  
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
;
format-padding = 0
label-volume =  " vVOL  %percentage% "

[module/powermenu]
type = custom/menu
label-open = 
label-open-padding-left = 2
label-open-padding-right = 2
;label-close-padding = ${spacing.padding}
label-close = 
label-separator = " │ "

format = <label-toggle><menu>

menu-0-0 = " favorite"
menu-0-0-exec = menu-open-1
menu-0-1 = " visual"
menu-0-1-exec = menu-open-2
menu-0-2 = " executibles" "
menu-0-2-exec = menu-open-3
menu-0-3 = " music"
menu-0-3-exec = menu-open-4

menu-1-0 = "  "
menu-1-0-exec = vivaldi-snapshot
menu-1-1 = "  "
menu-1-1-exec = exo-open --launch xfce4-terminal
menu-1-2 = "  "
menu-1-2-exec = exo-open --launch FileManager
menu-1-3 = "  "
menu-1-3-exec = catfish &
menu-1-4 = "  "
menu-1-4 exec = scrot 'ArchLabs_%Y-%m-%d-%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f' &

menu-2-0 = "  "
menu-2-0-exec = audacious &
menu-2-1 = "  "
menu-2-1-exec = termite --geometry=600x500 --exec=pacli &
menu-2-2 = "  "
menu-2-2-exec = lxappearance &
menu-2-3 = "  "
menu-2-3-exec = gcolor2 &
menu-2-4 = "  "
menu-2-4 exec = wpg

menu-3-0 = "  "
menu-3-0-exec = termite --geometry=600x500 --exec=ncmpcpp &
menu-3-1 = "   "
menu-3-1-exec = termite --geometry=600x500 --exec=pacli &
menu-3-2 = "  "
menu-3-2-exec = scrot 'ArchLabs_%Y-%m-%d-%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f' &
menu-3-3 = "  "
menu-3-3-exec = /home/pringle/.config/polybar/reload
menu-3-4 = "  "
menu-3-4 exec = menu_open-0

menu-4-0 = "   "
menu-4-0-exec = playerctl -p spotify status
menu-4-1 = "   "
menu-4-1-exec = playerctl pause
menu-4-2 = "  "
menu-4-2-exec = playerctl previous
menu-4-3 = "  "
menu-4-3-exec = playerctl next
menu-4-4 = "  "
menu-4-4exec = playerctl stop
menu-4-5 = "  "
menu-4-5 exec = mpd
;

;
; 

;

;
;
;
;
;
;
;
;
;

;
;
;
;
;
;
;
;
;
;
