l;---------------------------------------------
;         Polybar Configuration              ;
;               Openbox                      ;
;           github.com/JLErvin               ;
;---------------------------------------------

[colors]
; Define System colors from .Xresources
background=${xrdb:background:#ffffff}
black=${xrdb:color0:#ffffff}
red=${xrdb:color1:#ffffff}
grn=${xrdb:color2:#ffffff}
ylw=${xrdb:color3:#ffffff}
blu=${xrdb:color4:#ffffff}
mag=${xrdb:color5:#ffffff}
cyn=${xrdb:color6:#ffffff}
wht=${xrdb:color7:#ffffff}
foreground=${xrdb:foreground:#ffffff}

; Define colors for each module
; Easier to change here for each module
obbg=${self.red}
obibg=${self.foreground}
cpubg=${self.red}
winbg=${self.grn}
netbg=${self.ylw}
volbg=${self.grn}
batbg=${self.wht}
malbg=${self.cyn}

obfg=${self.foreground}
obifg=${self.background}
cpufg=${self.foreground}
winfg=${self.background}
netfg=${self.background}
volfg=${self.foreground}
batfg=${self.wht}
malfg=${self.foreground}

;--------------------------------------------
; bars                                      ;
;--------------------------------------------

[bar/jlervins]
monitor = eDP1
width = 100%
height=29
offset-x=0
offset-y=0
foreground=${colors.foreground}
background=${colors.background}
border-top-size=7
border-top-color= ${colors.background}
border-bottom-size=7
border-bottom-color= ${colors.background}
spacing=0
padding-left=1
padding-right=0
module-margin-left=0
module-margin-right=0
font-N=<fontconfig pattern>;<vertical offset>
font-0=Helvetica Neue LT Std:size=8;3
font-1=UW ttyp0:pixelsize=10;2
font-2=GohuFont:pixelsize=10;0
font-3=icomoon:pixelsize=10;4
modules-left=openbox  padding  padding backlight
modules-center=
modules-right=gmail< padding network padding volume padding battery padding date padding

;--------------------------------------------
; modules                                   ;
;--------------------------------------------

[module/xwindow]
y-offset=10
type=internal/xwindow
label=%title:0:120:...%
label-padding= 3

label-foreground=${colors.winfg}
label-background=${colors.winbg}

[module/date]
type=internal/date
interval=1.0
date=%a %b %d,
time=%H:%M
time-alt=%H:%M:%S
label= %time%
;label=%date%   %time%
format=<label>
format-padding=0
label-background=${colors.foreground}
label-foreground=${colors.grn}
label-padding= 3

[module/battery]
type=internal/battery
full-at=99
battery=BAT0
adapter=AC0
poll-interval=5
format-charging =<label-charging>
format-discharging =<label-discharging>
format-full =<label-full>
label-charging= %percentage%
label-charging-padding=3
label-charging-background=${colors.cyn}
label-charging-foreground=${colors.wht}
label-discharging=percentage%
label-discharging-background=${colors.batbg}
label-discharging-foreground=${colors.wht}
label-discharging-padding=3
label-full= %percentage%
label-background=${colors.cyn}
label-foreground=${colors.red}
label-full-foreground=${colors.black}
animation-charging-background=${colors.batbg}
animation-charging-foreground=${colors.wht}
animation-charging-padding=1
ramp-capacity-padding=1
ramp-capacity-background=${colors.batbg}
ramp-capacity-foreground=${colors.wht}
animation-charging-framerate=750

[module/volume]
type=internal/volume
format-volume =<label-volume>
format-muted =<label-muted>
ramp-volume-background=${colors.volbg}
ramp-volume-foreground=${colors.volfg}
ramp-volume-padding=3
label-volume= %percentage%
label-volume-background=${colors.volbg}
label-volume-foreground=${colors.volfg}
label-volume-padding=1
label-muted= 0
label-muted-foreground=${colors.volfg}
label-muted-background=${colors.volbg}
label-muted-padding=1
format-volume-padding=0
format-muted-padding=0
ramp-headphones-0=

[module/cpu]
type=internal/cpu
interval=0.5
format=<label>
label= %percentage%%
label-background=${colors.cpubg}
label-foreground=${colors.cpufg}
label-padding=1

[module/network]
type=internal/network
interface=wlp58s0
interval=3.0
format-connected=<label-connected>
format-connected-underline=#9f78e1
label-connected= %essid%
label-connected-background=${colors.netbg}
label-connected-foreground=${colors.netfg}
label-connected-padding=1
ramp-signal-background=${colors.netbg}
ramp-connected-foreground=${colors.netfg}
ramp-signal-padding=1
format-disconnected= <label-disconnected>
label-disconnected-background=${colors.netbg}
label-disconnected-padding=1
label-disconnected=DISCONNECTED
ramp-signal-foreground=${colors.netfg}

[module/padding]
type=custom/text
content=|
content-foreground=${colors.background}
content-background=${colors.background}

[module/openbox]
type=internal/xworkspaces
pin-workspaces=true
enable-click=false
enable-scroll=false
format=<label-state>
label-monitor=%name%
label-active =%icon%
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
icon-default = 
label-active-foreground =${colors.grn}
label-active-background =${colors.wht}
label-active-underline=#fba922
label-active-padding=3
label-occupied =%name%
label-occupied-background=${colors.obbg}
label-occupied-padding=3
label-urgent=%index%
label-urgent-foreground=#000000
label-urgent-background=#bd2c40
label-urgent-underline=#9b0a20
label-empty =
label-empty-padding=2
label-empty-background=${colors.obibg}
label-empty-foreground=${colors.obifg}

;

[module/backlight]
type = internal/xbacklight
output = eDP-1
enable-scroll = false
format = <label>
label =  %percentage%%
ramp-0 = 🌕
ramp-1 = 🌔
ramp-2 = 🌓
ramp-3 = 🌒
ramp-4 = 🌑
bar-width = 10
bar-indicator = 
bar-fill = 
bar-empty = ─
format-background = ${colors.malbg}
format-foreground = ${colors.malfg}
format-padding = 2

[module/gmail]
type = custom/script
exec = /home/dead/.config/polybar/scripts/gmail/launch.py
tail = true
click-left = xdg-open https://mail.google.com
interval = 90
format = <label>
format-background = ${colors.malbg}
format-foreground = ${colors.malfg}
format-padding = 1
label =  %output%

; vim:ft=dosini
