
;  ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;  ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;  ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;  ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;  ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;  ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;  KingKobra87's polybar config
;  https://www.github.com/kingkobra87/dotfiles
;

[global/wm]
margin-top = 0
margin-bottom = 0


[settings]
screenchange-reload = true


[colors]
background = #0F1419
foreground = #F8F8F2

dark = #0D1116
medium = #1E1F26
light = #E6E6E6

red2 = #C66C7A
red = #CB516A
magenta = #FF79C6
blue = #BD93F9
cyan2 = #8FA1B3
cyan = #72A9B5
green = #66AA87
green02 = #76B384
green03 = #A3BE8C
yellow = #FAC863
orange = #E69F51

; Coloured Powerline glyphs couldn't be defined as variables
; without resorting to environment variables, and I figured
; it would be more work to edit another file rather than just
; scroll down and set the colours here. Sorry. See more here:
; https://github.com/jaagr/polybar/issues/615


[bar/kobra]
font-0 = Lemon:pixelsize=10;1
font-1 = Terminus:size=12;2
font-2 = icomoon:pixelsize=9;2
font-3 = xos4 Terminess Powerline:size=28;4
;font-4 = icomoon:size=10;2

monitor = eDP1
bottom = false
dock = false
width = 100%
height = 28
offset-x = 0
offset-y = 0

background = ${colors.background}
foreground = ${colors.foreground}

border-bottom = 1
border-bottom-color = ${colors.dark}

spacing = 0
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0

modules-left = workspaces rofi  power-label
modules-center = mpd
modules-right = volume  battery date menu

fixed-center = false

tray-position = false
tray-padding = 4
tray-maxsize = 26
tray-background = ${colors.dark}

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
icon-default = 

;
;

format = <label-state>
label-monitor =  %icon%

label-active = " %icon% "
label-active-foreground = ${colors.cyan}
label-active-background = ${colors.dark}
;label-active-underline = #F5166A

label-occupied = " %icon% "
;label-occupied-underline = #5E81AC
label-occupied-background = ${colors.dark}
label-occupied-foreground = #5E81AC

label-urgent = " %icon%"
label-urgent-foreground = ${colors.medium}
label-urgent-background = ${colors.dark}
;label-urgent-underline = #34C8BC

label-empty = " %icon% "
label-empty-foreground = ${colors.medium}
label-empty-background = ${colors.dark}

content-foreground = ${colors.bg}
content-background = ${colors.magenta-alt}
click-left = bash /home/dead/.config/popups/power/power

[module/i3]
type = internal/i3
format = <label-mode><label-state>
index-sort = true
enable-click = true
enable-scroll = true
wrapping-scroll = false

strip-wsnumbers = true
wsname-maxlen = 1

label-focused = %icon%
label-focused-foreground = ${colors.blue}
label-focused-background = ${colors.dark}
label-focused-padding = 1

label-unfocused = %icon%
label-unfocused-foreground = ${colors.medium}
label-unfocused-background = ${colors.dark}
label-unfocused-padding = 1

label-urgent = %icon%
label-urgent-foreground = ${colors.magenta}
label-urgent-background = ${colors.dark}
label-urgent-padding = 1

label-visible = %icon%
label-visible-foreground = ${colors.medium}
label-visible-background = ${colors.dark}
label-visible-padding = 1

ws-icon-0 = 1:Internet;
ws-icon-1 = 2:Files;
ws-icon-2 = 3:Terminal;
ws-icon-3 = 4:Editor;
ws-icon-4 = 5:Chat;
ws-icon-5 = 6:Downloads;
ws-icon-6 = 7:Games;
ws-icon-7 = 8:Editing;
ws-icon-8 = 9:Office;
ws-icon-9 = 10:Misc;

label-mode = %mode%
label-mode-padding = 3
label-mode-background = ${colors.magenta}
label-mode-foreground = ${colors.background}


[module/powerline-suffix]
type = custom/text
content = %{T4}%{F#1e1f26}%{B#282a36}%{T-}%{F#282a36}||%{F-}


[module/xwindow]
type = internal/xwindow

format-foreground = ${colors.cyan}
format-padding = 0

label = "%title%"
label-maxlen = 250


[module/mpd]
type = internal/mpd

port = 6642

;format-online =  <label-song> <icon-prev><icon-stop><toggle><icon-next>
format-online =  <label-song>

label-song-maxlen = 125
label-song-ellipsis = true

icon-prev = 
icon-seekb = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 
icon-seekf = 

icon-random = 
icon-repeat = 

toggle-on-foreground = ${colors.foreground}
toggle-off-foreground = ${colors.foreground}


[module/volume]
type = internal/volume
mapping = true
master-mixer = Master
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default

format-volume = <label-volume>

label-volume =  %percentage%%
label-volume-foreground = ${colors.cyan}

label-muted =  Muted
label-muted-foreground = ${colors.medium}

label-volume-padding = 3
label-muted-padding = 3


[module/memory]
type = internal/memory
interval = 1
label =  %percentage_used%%

label-padding = 3

label-foreground = ${colors.magenta}


[module/cpu]
type = internal/cpu
interval = 1
label =  %percentage%%

label-padding = 3

label-foreground = ${colors.yellow}


[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 99

format-charging = <animation-charging><label-charging>
format-discharging = <ramp-capacity><label-discharging>
format-full = <label-full>

label-full =  %percentage%%
label-charging = %percentage%%
label-discharging = %percentage%%

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 
animation-charging-6 = 
animation-charging-7 = 
animation-charging-8 = 
animation-charging-9 = 
animation-charging-10 = 
animation-charging-11 = 
animation-charging-framerate = 350

label-full-foreground = ${colors.blue}
label-charging-foreground = ${colors.green}
animation-charging-foreground = ${colors.green}
label-discharging-foreground = ${colors.red}
ramp-capacity-foreground = ${colors.red}

; width messes up for some reason, so here's a dirty workaround
format-full-prefix            = |
format-full-prefix-foreground = ${colors.background}
format-full-suffix            = |
format-full-suffix-foreground = ${colors.background}

format-charging-prefix            = |
format-charging-prefix-foreground = ${colors.background}
format-charging-suffix            = |
format-charging-suffix-foreground = ${colors.background}

format-discharging-prefix            = |
format-discharging-prefix-foreground = ${colors.background}
format-discharging-suffix            = |
format-discharging-suffix-foreground = ${colors.background}

label-full-padding = 1
label-charging-padding = 1
label-discharging-padding = 1
ramp-capacity-padding = 1
animation-charging-padding = 1

;

[module/date]
type = internal/date
date =  %I:%M %p
date-alt =  %Y-%m-%d   %I:%M %p
interval = 2

label-foreground = ${colors.cyan}
label-padding   =  3
click-left = /home/dead/.config/popups/calendar/pop_cal


[module/powerline-prefix]
type = custom/text
content = %{T4}%{F#1e1f26}%{B#282a36}%{T-}


[module/rofi]
type = custom/script

exec = echo ""
click-left = exec powermenu.sh &
click-right = echo "" | rofi -show run -hide-scrollbar -location 3 -yoffset 43 -xoffset -16 &

label-background = ${colors.dark}
label-foreground = ${colors.green}

label-padding = 1

[module/power-label]
type = custom/text
content = "  "

content-foreground = ${colors.bg}
content-background = ${colors.magenta-alt}
click-left = bash /home/dead/.config/popups/power/power

[module/uptime]
type = custom/script
interval = 1200
format = "<label> "
format-prefix = "  "
format-prefix-foreground = ${colors.green}
exec = /home/dead/.config/polybar/scripts/uptime

[module/menu]
type = custom/text

content = " "
content-foreground = ${colors.green02}
content-background = ${colors.background}
click-left = /home/dead/.config/popups/todo/todo

[module/mail]
type = custom/script
interval = 1200
format = "<label> "
format-prefix = " "
format-prefix-foreground = ${colors.red}
exec = /home/dead/.config/polybar/scripts/gmail/polybar-gmail-master/launch.py
exec-if = "ping -q -w 2 -c 1 8.8.8.8 > /dev/null"


; vim:ft=dosini
