[colors]
background = #181B20
background-alt = #212121
foreground = #fafafa
foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40


[bar/material]
;monitor = e DP1
width = 100%
height = 24
offset-x = 0
offset-y = 0
radius = 0
fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #f00

border-size = 0
border-color = #00000000

padding-left = 6
padding-right = 6

module-margin-left = 1
module-margin-right = 1

font-0 = Misc Fixed:pixelsize=13;2
font-1 = unifont:fontformat=truetype:size=11:antialias=false;2
font-2 = WunconSiji:size=8;1

modules-left = arch i3
modules-center = xwindow
modules-right = volume cpu memory date time

tray-position = right
tray-padding = 2


[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%
format-underline = #BF4A36


[module/arch]
type = custom/script
exec = echo "Linux"

format-prefix = "Arch "
format-prefix-foreground = #027AB6


[module/i3]
type = internal/i3

enable-click = true
strip-wsnumbers = true

ws-icon-0 = 1;♚
ws-icon-1 = 2;♛
ws-icon-2 = 3;♜
ws-icon-3 = 4;♝
ws-icon-4 = 5;♞
ws-icon-default = ♟

label-focused = %index%
label-focused-foreground = #ffffff
label-focused-background = #2f2f2f
label-focused-padding = 2

label-unfocused = %index%
label-unfocused-padding = 2

label-visible = %index%
label-visible-padding = 2

label-urgent = %index%
label-urgent-foreground = #000000
label-urgent-background = #bd2c40
label-urgent-padding = 2


[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = #42A89A
label = %percentage%%


[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = #BF4A36
label = %percentage_used%%


[module/date]
type = internal/date
interval = 5

date = "%d/%m-%Y"
date-alt = "%a Week %V"

time = %H:%M
time-alt = %H:%M

format-prefix = " "
format-prefix-foreground = #42A89A

label = %date%


[module/time]
type = internal/date
interval = 5

time = %H:%M
format-prefix = " "
format-prefix-foreground = #BF4A36
label = %time%


[module/volume]
type = internal/volume

format-volume = <ramp-volume> <label-volume>
label-volume = %percentage%%

format-muted = <label-muted>
label-muted = 
label-muted-foreground = #66

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = #027AB6


[settings]
screenchange-reload = true


[global/wm]
margin-top = 5
margin-bottom = 5
