
;  _  _      _      _
; |_)/ \|\_/|_) /\ |_)
; |  \_/|_| |_)/--\| \
;

;
; 

[colors]
background = ${xrdb:color0:#222}
foreground = ${xrdb:color1:#222}
modb       = ${xrdb:color2:#222}
modb1      = #76B395
modb2      = #dce5ca

red     = ${xrdb:color1:#222}
orange  =  ${xrdb:color1:#222}
yellow  = ${xrdb:color3}
green   = ${xrdb:color2:#222}
cyan    = ${xrdb:color3}
blue    =${xrdb:color4:#222}
magenta = ${xrdb:colort5:#222}
white   ${xrdb:color1#222}

[global/wm]
margin-top        = 0
margin-bottom     = 0
override-redirect = true

[bar/nooner]
width    = 100%
height   = 28
;offset-x = 5%
;offset-y = 9
radius = 2.0
bottom = false

locale     = de_DE.UTF-8
background = ${colors.background}
foreground = ${colors.foreground}

font-0 = HelveticaMonospacedW01:size=8:weight=regular;antialias=true;2

font-1 = Siji:size=9:;2
font-2 = icomoon:size=10:antialias=true;3
font-3 = MaterialIcons:size=10:antialias=false;2

modules-left   = powermenu  window_count padding up down
modules-center = 2bws
modules-right  = volume previous playpause next

tray-position    =
tray-padding     = 2
tray-transparent = false
tray-detached    = false
tray-background  = ${colors.modb}
tray-maxsize     = 12

spacing             = 1
padding-left        = 0
padding-right       = 0
module-margin-left  = 0
module-margin-right = 0

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %name%

label-active = " %icon% %name% "
label-active-foreground = #F5166A
label-active-background = #007086
label-active-underline = #F5166A

label-occupied = " %icon% %name% "
label-occupied-underline = #EFC8AA
label-occupied-background = #1E232B
label-occupied-foreground = #34C8BC

label-urgent = " %icon% %name% "
label-urgent-foreground = #ffffff
label-urgent-background = #007086
label-urgent-underline = #34C8BC

label-empty = " %icon% %name% "
label-empty-foreground = #ffffff

[module/volume]
type = internal/volume

format-volume = <ramp-volume> <label-volume>

format-volume-foreground = #76B395
format-volume-background = ${colors.modb}
label-prefix            = "   "
label-prefix-foreground           = ${colors.red}
format-volume-padding    = 2
label-background = ${colors.red}

module-margin-right = 0
ramp-volume-0       = 
ramp-volume-1       = 
ramp-volume-2       = 

ramp-volume-foreground = ${colors.yellow}

label-muted-padding    = 2
label-muted            =  muted
label-muted-background = ${colors.modb1}
label-muted-foreground = ${colors.modb}


[module/padding]
type = custom/text
content = |
content-foreground = ${colors.blue}
content-background = ${colors.modb}

[module/seperator2]
type = custom/text
content = │
content-foreground = ##F5166A

[module/date1]
type                     = internal/date
interval                 = 1
date                     = " %I:%M"
format-prefix            =
format-prefix-foreground = ${colors.red}
format-background        = ${colors.modb}
format-padding           = 2

[module/hlws]
format-font       = 1
type              = custom/script
exec              = python2.7 ~/scripts/hlws.py
scroll-down       = exec herbstclient use_index +1
scroll-up         = exec herbstclient use_index -1
interval          = 0.01
format-foreground = ${colors.foreground}
format-background = ${colors.modb2}
format-padding    = 2

[module/previous]
type              = custom/script
format-text       = <label>
label             = 
exec              = echo label
click-left        = exec cmus-remote -r -p
format-foreground = ${colors.modb}
format-background = ${colors.modb1}
format-padding    = 1

[module/next]
type              = custom/script
format-text       = <label>
label             = 
exec              = echo label
click-left        = exec cmus-remote -n -p
format-foreground = ${colors.modb}
format-background = ${colors.modb1}
format-padding    = 1

[module/cmusnp]
type              = custom/script
exec              = ~/scripts/cmusnp.py
exec-if           = pgrep cmus > /dev/null
interval          = 0.01
click-left        = cmus-remote -u
click-right       = xdesktop -g 4
format-foreground = ${colors.foreground}
format-background = ${colors.modb1}
format-padding    = 2

[module/playpause]
type              = custom/script
exec              = python3 /home/dead/.config/polybar/scripts/playpause.py
interval          = 0.01
click-left        = cmus-remote -u
format-foreground = ${colors.yellow}
format-background = ${colors.modb}
format-padding    = 2
;


[module/cpu]
type                     = internal/cpu
label                    = %percentage-core1%%
format-prefix            = " "
format-prefix-foreground = ${colors.magenta}
format-background        = ${colors.modb}
format-padding           = 2

[module/weather]
type                     = custom/script
interval                 = 100
format                   = <label>
format-padding           = 2
format-prefix            = " "
;format-suffix            = " "
format-prefix-foreground = ${colors.blue}
format-background        = ${colors.modb}
exec                     = /home/dead/.config/polybar/scripts/weather
;exec                     =  python3 /home/dead/.config/polybar/scripts/weather.py


[module/2bws]
format-font       = 1
type              = custom/script
exec              = python3 ~/scripts/2bws.py
scroll-down       = exec xdesktop -p
scroll-up         = exec xdesktop -n
click-right       = exec xdesktop -p
click-left        = exec xdesktop -n
interval          = 0.01
format-padding    = 3
format-background = ${colors.modb}

[module/down]
type = internal/network
interface = wlp3s0
interval = 3.0
ping-interval = 10

;format-prefix = "  "
format-connected = "   <label-connected>  "
format-connected-foreground = ${colors.red}
format-connected-background = ${colors.modb}
format-connected-underline =  #85DEBF
format-packetloss =  <label-connected>
format-packetloss-foreground = #F5166A
format-packetloss-underline = #F5166A
format-disconnected = -
format-disconnected-foreground = #7A7A7A
label-connected = %downspeed%
format-padding = 1

[module/up]
type = internal/network
interface = wlp3s0
interval = 3.0
ping-interval = 10



;format-prefix = " "
format-connected = "   <label-connected> "
format-connected-foreground = ${colors.modb1}
format-connected-background = ${colors.modb}
format-connected-underline = #85DEBF
format-packetloss = <label-connected>
format-packetloss-foreground = #C40C84
format-packetloss-underline = #F5166A
format-disconnected =  -
format-disconnected-foreground = #7A7A7A
format-disconnected-background = ${colors.modb}
label-connected = %upspeed%
format-padding = 1

[module/workspace]
type = custom/script
interval = 1
label = %{A4:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))":}%{A5:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)-1))":}%output% %{A}%{A}
exec = echo "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))"
label-background = ${colors.blue}
label-foreground = ${colors.modb}
format = <label>
;format-prefix = " "
format-prefix-foreground = ${colors.red}


[module/powermenu]
type = custom/menu
label-open = 
label-open-foreground = ${colors.blue}
label-open-background = ${colors.modb}
label-open-padding-left = 2
label-open-padding-right = 2
label-close-foreground = ${colors.background}
label-close-background =  ${colors.foreground}
;label-close-padding = ${spacing.padding}
label-close = 
label-separator = " │ "

format = <label-toggle><menu>

menu-0-0 = " favorite"
menu-0-0-exec = menu-open-1
menu-0-1 = " visual"
menu-0-1-exec = menu-open-2
menu-0-2 = " executibles" "
menu-0-2-exec = menu-open-3
menu-0-3 = " music"
menu-0-3-exec = menu-open-4

menu-1-0 = "  "
menu-1-0-exec = vivaldi-snapshot
menu-1-1 = "  "
menu-1-1-exec = exo-open --launch xfce4-terminal
menu-1-2 = "  "
menu-1-2-exec = exo-open --launch FileManager
menu-1-3 = "  "
menu-1-3-exec = catfish &
menu-1-4 = "  "
menu-1-4 exec = scrot 'ArchLabs_%Y-%m-%d-%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f' &

menu-2-0 = "  "
menu-2-0-exec = audacious &
menu-2-1 = "  "
menu-2-1-exec = termite --geometry=600x500 --exec=pacli &
menu-2-2 = "  "
menu-2-2-exec = lxappearance &
menu-2-3 = "  "
menu-2-3-exec = gcolor2 &
menu-2-4 = "  "
menu-2-4 exec = wpg

menu-3-0 = "  "
menu-3-0-exec = termite --geometry=600x500 --exec=ncmpcpp &
menu-3-1 = "   "
menu-3-1-exec = termite --geometry=600x500 --exec=pacli &
menu-3-2 = "  "
menu-3-2-exec = scrot 'ArchLabs_%Y-%m-%d-%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f' &
menu-3-3 = "  "
menu-3-3-exec = /home/pringle/.config/polybar/reload
menu-3-4 = "  "
menu-3-4 exec = menu_open-0

menu-4-0 = "   "
menu-4-0-exec = playerctl -p spotify status
menu-4-1 = "   "
menu-4-1-exec = playerctl pause
menu-4-2 = "  "
menu-4-2-exec = playerctl previous
menu-4-3 = "  "
menu-4-3-exec = playerctl next
menu-4-4 = "  "
menu-4-4exec = playerctl stop
menu-4-5 = "  "
menu-4-5 exec = mpd
[module/window_count]
type = custom/script
interval = 1
label = %{A1:skippy-xd --toggle-window-picker:}   %output%  %{A}
exec = echo "$(($(wmctrl -l -i | wc -l)-1))"
format = <label>
format-prefix = "  "
format-prefix-foreground = ${colors.green}
format-padding = 1
label-foreground = ${colors.blue}

[module/rofi]
type = custom/script
exec = echo " rofi"
click-left = rofi-apps
label-foreground = #ffffff
label-background = #0B1219
format-padding = 1
label-prefix = rofi

[module/network]
type = custom/script
label-background = ${colors.modb}
exec = $HOME/.config/polybar/scripts/network.sh
click-left = networkmanager_dmenu
click-right = networkmanager_dmenu
label-padding = 2
interval = 1
tail = true

