[colors]
foreground = #d5c4a1
background = #070E14
modb = #10131C
modb1 = #10131C
modb2 = #10131C

red     = #A5394A
orange  = #F18D80
yellow  = #FAC863
green   = #80F1A6
cyan    = #8ec07c
blue    = #83a598
magenta = #9B50CB
white   = #DFE1E8

[global/wm]
margin-top        = 0
margin-bottom     = 0
override-redirect = true

[bar/pepper]
monitor = eDP1
width    = 100%
height   = 28
offset-x = 0
offset-y = 0
bottom = false

locale     = de_DE.UTF-8
background = ${colors.background}
foreground = ${colors.foreground}

font-0 = scientifica:size=8:antialias=true;
font-1 = icomoon:size=8:antialias=true;
font-2 = Siji:size=9:;
font-3 = icomoon02:size=8:antialias=true;

modules-left   = date1 volume cpu weather
modules-center =  
modules-right  = ewmh powermenu

tray-position    = off
tray-padding     = 2
tray-transparent = false
tray-detached    = false
tray-background  = ${colors.modb}

spacing             = 1
padding-left        = 0
padding-right       = 0
module-margin-left  = 0
module-margin-right = 0

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/taskwarrior]
interval = 30
type = custom/script
exec = /home/dead/.config/polybar/scripts/task_polybar.sh
format = <label>
format-foreground = #FFF
format-prefix = " "
click-left = task "$((`cat /tmp/tw_polybar_id`))" done

[module/volume]
type = internal/volume

format-volume = <ramp-volume><label-volume>

format-volume-background = ${colors.modb}
format-volume-padding    = 2

module-margin-right = 0
ramp-volume-0       = 
ramp-volume-1       = 
ramp-volume-2       = 

ramp-volume-foreground = ${colors.yellow}

label-muted-padding    = 2
label-muted            =  muted
label-muted-background = ${colors.modb}

[module/date1]
type                     = internal/date
interval                 = 1
date                     = " %I:%M"
format-prefix            = 
format-prefix-foreground = ${colors.red}
format-background        = ${colors.modb}
format-padding           = 2

[module/powermenu]
type = custom/menu

label-open                 =
label-open-foreground      = ${colors.red}
label-open-background      = ${colors.modb2}
label-open-padding         = 2
label-close                = ✕
label-close-padding        = 2
label-close-foreground     = $[colors.red]
label-separator            = |
label-separator-foreground = #666666

menu-0-0      = reboot
menu-0-0-exec = menu-open-1
menu-0-1      = poweroff
menu-0-1-exec = menu-open-2
menu-0-2      = logout
menu-0-2-exec = menu-open-3

menu-1-0      = ✕
menu-1-0-exec = menu-open-0
menu-1-1      = ✓
menu-1-1-exec = systemctl reboot

menu-2-0      = ✓
menu-2-0-exec = systemctl poweroff
menu-2-1      = ✕
menu-2-1-exec = menu-open-0

menu-3-0      = ✓
menu-3-0-exec = herbstclient quit
menu-3-1      = ✕
menu-3-1-exec = menu-open-0

[module/hlws]
format-font       = 1
type              = custom/script
exec              = python2.7 ~/scripts/hlws.py
scroll-down       = exec herbstclient use_index +1
scroll-up         = exec herbstclient use_index -1
interval          = 0.01
format-foreground = ${colors.foreground}
format-background = ${colors.modb2}
format-padding    = 2

[module/previous]
type              = custom/script
format-text       = <label>
label             = 
exec              = echo label
click-left        = exec playerctl previous
format-foreground = ${colors.magenta}
format-background = ${colors.modb1}
format-padding    = 1

[module/next]
type              = custom/script
format-text       = <label>
label             = 
exec              = echo label
click-left        = exec playerctl next
format-foreground = ${colors.magenta}
format-background = ${colors.modb1}
format-padding    = 1

;
;
;
;
;
;
;
;
;

[module/spotipy]
type              = custom/script
exec              = python3 /home/dead/.config/polybar/scripts/spoti.py
exec-if           = pgrep spotify > /dev/null
interval          = 0.01
click-left        = playerctl -p spotify play-pause
format-foreground = ${colors.foreground}
format-background = ${colors.modb1}
format-padding    = 1

[module/playpause]
type              = custom/script
exec              = python3 /home/dead/.config/polybar/scripts/playpause.py
interval          = 0.01
click-left        = playerctl -p spotify play-pause
format-foreground = ${colors.magenta}
format-background = ${colors.modb1}
format-padding    = 2


[module/cpu]
type                     = internal/cpu
label                    = %percentage-core1%%
format-prefix            = " "
format-prefix-foreground = ${colors.green}
format-background        = ${colors.modb}
format-padding           = 2

[module/weather]
type                     = custom/script
interval                 = 10
format                   = <label>
format-padding           = 2
format-prefix            = " "
;format-suffix            = "°C"
format-prefix-foreground = ${colors.blue}
format-background        = ${colors.modb}
exec                     = /home/dead/.config/polybar/scripts/weather




[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = BL

bar-width = 10
bar-indicator = |
bar-indicator-foreground = #ff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/ewmh]
type = internal/xworkspaces
enable-scroll = true
format-padding = 2
format-foreground = ${colors.foreground}
format-background = ${colors.modb}
label-active = "  "
label-occupied = "  -"
label-urgent = "  #"
label-empty = "  ·"

[module/now_playing]
type = custom/script

exec = "python /home/dead/.config/polybar/scripts/now_playing.py"

tail = true

format = <label>
format-prefix = " "
format-prefix-foreground = ${colors.foreground}

label = %output:0:50%
