;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[bar/re_bar]
monitor = eDP1
width = 100%
height = 22
offset-x = 0
offset-y = 0
background = #080808
foreground = #F5F5F5
padding = 4
module-margin = 2
; Fonts
font-0 = MaterialDesignIcons:size=11
font-1 = fontawesome-webfont:size=11
font-2 = Arimo-Regular:size=11
font-3 = Arimo-Bold:size=11
font-4 = MaterialWifi:size=11
; Modules
modules-left = i3
modules-center =
modules-right = caffeine redshift bluetooth wireless-network backlight volume battery date menu-power

[settings]
; Prevent flood of update events
throttle-output = 5
; Throttle output (in milliseconds)
throttle-output-for = 60
; Throttle input (in miilliseconds)
throttle-input-for = 30

[module/volume]
type = internal/volume
; Soundcard to use
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
; Mixer to use
master-mixer = Master
; Formatting options
format-volume = <ramp-volume> <label-volume>
; Muted formatting
format-muted = <label-muted>
label-muted-font = 1
label-muted =  muted
ramp-volume-font = 1
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
label-volume = %percentage%%

[module/battery]
type = internal/battery
; Full at what percentage?
full-at = 100
; Specify batteries and adapters
battery = BAT0
adapter = AC
; Set polling interval = 2 minutes
poll-interval = 120
; Formatting options
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
label-full-font = 1
label-full =  100%
label-charging = %percentage%%
label-discharging = %percentage%%
ramp-capacity-font = 1
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 
animation-chargining-font = 1
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 
animation-charging-6 = 
; Framerate in milliseconds
animation-charging-framerate = 750

[module/backlight]
type = internal/xbacklight
output = eDP1
; Disable scrolling to set backlight over this module
enable-scroll = false
; Formatting options
format = <ramp> <label>
label = %percentage%%
ramp-font = 1
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 

[module/wireless-network]
type = internal/network
interface = wlp3s0
; Seconds to sleep between updates = 30s
interval = 30
; Formatting options
format-connected = <ramp-signal> <label-connected>
format-disconnected = <label-disconnected>
label-connected-font = 1
label-connected = %essid%
label-disconnected-font = 4
label-disconnected =  No signal
ramp-signal-font = 4
ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 

[module/date]
type = internal/date
; Seconds to sleep in between updates = 1 minute
interval = 60.0
; Formatting options
date = %b %d
time = %H:%M
format = <label>
label-font = 1
label = %date% - %time%

[module/i3]
type = internal/i3
enable-click = true
enable-scroll = false
wrapping-scroll = false
reverse-scroll = false
; Formatting options
format = <label-state> <label-mode>
label-mode = %mode%
label-mode-padding = 1
label-focused = %index%
label-focused-foreground = #FAFAFA
label-focused-font = 3
label-unfocused = %index%
label-unfocused-foreground = #BDBDBD
label-visible = %index%
label-urgent = %index%
label-urgent-foreground = #FFC107

[module/menu-power]
type = custom/menu
label-open = 
label-open-foreground = #B71C1C
label-close = 
menu-0-0 = 
menu-0-0-foreground = #00C853
menu-0-0-exec = exec systemctl reboot
menu-0-1 = 
menu-0-1-foreground = #B71C1C
menu-0-1-exec = exec systemctl poweroff

[module/redshift]
type = custom/script
; Seconds to sleep in between updates = 5 minutes
interval = 300
exec = ~/.config/polybar/redshift.sh

[module/caffeine]
type = custom/script
interval = 5
exec = ~/.config/polybar/caffeine-status.sh

; vim:ft=dosini
