
[colors]
background = #0C1015
foreground = #C4CEDC
green = #89DCB3
gray = #C4CEDC

include-file = /home/oula/.config/polybar/colors

[bar/ricer]
monitor = eDP1
width = 100%
height = 28
offset-x = 0
offset-y = 0
bottom = true

override-redirect = false
wm-restack = bspwm

background = ${colors.background}
foreground = ${colors.foreground}

border-bottom-size = 0
border-top-size = 4
border-color = ${colors.transparentBackgrnd}

underline-size = 3
underline-color = ${colors.green}

spacing = 1
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0

font-0 = GohuFont:pixelsize=11;1
font-1 = Siji:size=10;1

modules-left = powermenu bspwm
modules-center = mpd
modules-right = volume date

;tray-position = right
;tray-padding = 2
;tray-background = #66333333

scroll-up = bspwm-desknext
scroll-down = bspwm-deskprev

; MODULES

[module/bspwm]
type = internal/bspwm
format = <label-state> <label-mode>

ws-icon-0 = I;
ws-icon-1 = II;
ws-icon-2 = III;
ws-icon-3 = IV;
ws-icon-4 = V;
ws-icon-default = 

label-focused = 
label-focused-background = ${colors.alt-background}
label-focused-underline= ${colors.green}
label-focused-padding = 2

label-occupied = %icon%
label-occupied-padding = 2

label-urgent = %icon%
label-urgent-padding = 2

label-empty = %icon%
label-empty-foreground = ${colors.dim-foreground}
label-empty-padding = 2

[module/xwindow]
type = internal/xwindow
label = %title:0:120:...%
label-padding = 0

[module/date]
type = internal/date

; Seconds to sleep between updates
interval = 1.0

; See "man date" for details on how to format the date string
; NOTE: if you want to use syntax tags here you need to use %%{...}
date = "%a %b %d "

; Optional time format
time = "%H:%M "

; if `date-alt` or `time-alt` is defined, clicking
; the module will toggle between formats
date-alt = %A, %d %B %Y
time-alt = "%H:%M:%S "

label = %date% %time%
format =  <label>
format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-padding = 1

[module/padding]
type = custom/text
content =
content-foreground = #00000000
content-background = #00000000

[module/battery]
type = internal/battery

full-at = 99

battery = BAT0
adapter = AC0

poll-interval = 5

format-charging = <animation-charging>  <label-charging>
format-discharging = <ramp-capacity>  <label-discharging>
format-full = <ramp-capacity>  <label-full>
label-charging = %percentage%
label-discharging = %percentage%
label-full = %percentage%
format-charging-padding = 3
format-discharging-padding = 3
format-full-padding = 3

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750

[module/backlight]
type = internal/backlight

card = intel_backlight
enable-scroll = true

format = <ramp> <label>
label = %percentage%

ramp-0 = 🌕
ramp-1 = 🌔
ramp-2 = 🌓
ramp-3 = 🌒
ramp-4 = 🌑

[module/volume]
type = internal/volume

master-mixer = Speaker
master-soundcard = hw:2

format-volume = <ramp-volume><label-volume>
format-muted = <label-muted>
label-volume = %percentage%
label-muted =  muted
label-muted-foreground = ${colors.gray}
format-volume-padding = 1
format-muted-padding = 1

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-headphones-0 = 

[module/spotify]
type = custom/script

exec = /home/gamehelp16/Documents/np
interval = 1

format = <label>
;format-background = #dd00c6e0
;format-foreground = #fff
;format-padding = 4

label = %output%

[module/powermenu]
type = custom/menu

label-open = 
;label-open-background = #dd0000
;label-open-foreground = #fff
label-close = cancel
label-close-background = ${colors.alt-background}
;label-close-foreground = #fff
label-open-padding = 2
label-close-padding = 2

menu-0-0-padding = 1
menu-0-1-padding = 1
menu-0-2-padding = 1
menu-0-3-padding = 1
menu-0-4-padding = 1
menu-0-5-padding = 1
menu-0-6-padding = 1
menu-0-7-padding = 1
menu-0-8-padding = 1
menu-0-9-padding = 1
menu-0-10-padding = 1

menu-0-0 = neiro2
menu-0-0-exec = /home/oula/launch/launchneiro2.sh &
menu-0-1 = neiro5
menu-0-1-exec = /home/oula/launch/launchneiro5.sh &
menu-0-2 = kona1
menu-0-2-exec = /home/oula/launch/launchkona1.sh &
menu-0-3 = kona2
menu-0-3-exec = /home/oula/launch/launchkona2.sh &
menu-0-4 = kona3
menu-0-4-exec = /home/oula/launch/launchkona3.sh &
menu-0-5 = kona4
menu-0-5-exec = /home/oula/launch/launchkona4.sh &
menu-0-6 = kona5
menu-0-6-exec = /home/oula/launch/launchkona5.sh &
menu-0-7 = kona6
menu-0-7-exec = /home/oula/launch/launchkona6.sh &
menu-0-8 = erre1
menu-0-8-exec = /home/oula/launch/launcherre1.sh &
menu-0-9 = erre2
menu-0-9-exec = /home/oula/launch/launcherre2.sh &
menu-0-10 = erre4
menu-0-10-exec = /home/oula/launch/launcherre4.sh &

;menu-0-2 = "power off "
;menu-0-2-exec = menu-open-2

;menu-1-0 = "logout? "
;menu-1-0-exec = bspc quit
;menu-1-0-padding = 1

;menu-2-0 = "power off? "
;menu-2-0-exec = shutdown now
;menu-2-0-padding = 1

[module/mpd]
type = internal/mpd

host = 127.0.0.1
port = 6600
password =

; Seconds to sleep between progressbar/song timer sync
; Default: 1
interval = 2

; Available tags:
;   <label-song> (default)
;   <label-time>
;   <bar-progress>
;   <toggle> - gets replaced with <icon-(pause|play)>
;   <toggle-stop> - gets replaced with <icon-(stop|play)>
;   <icon-random>
;   <icon-repeat>
;   <icon-repeatone>
;   <icon-prev>
;   <icon-stop>
;   <icon-play>
;   <icon-pause>
;   <icon-next>
;   <icon-seekb>
;   <icon-seekf>
format-online = <label-song>

; Available tokens:
;   %artist%
;   %album%
;   %date%
;   %title%
; Default: %artist% - %title%
label-song = %title%
format-online-padding = 3
