;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[colors]
background = ${xrdb:URxvt*background}
foreground = ${xrdb:URxvt*foreground}
black = ${xrdb:color7}
red = ${xrdb:color6}
green = ${xrdb:color5}
yellow = ${xrdb:color4}
blue = ${xrdb:color3}
magenta = ${xrdb:color2}
cyan = ${xrdb:color1}
white = ${xrdb:color0}

[bar/shadow]
monitor = eDP1
width = 100%
bottom = false
height = 20
radius = 0
;fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 1
line-color = #f00

;border-left-size = 7
;border-right-size = 7
;border-top-size = 2
;border-bottom-size = 2
;border-color = argb (0, 0, 0, 0)

padding-left = 1
padding-right = 2

module-margin-left = 1
module-margin-right = 2

;font-0 = Source Code Pro for Powerline:pixelsize=8;1
font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=true;0
font-2 = Wuncon Siji:pixelsize=20;1
font-3 = fontawesome:pixelsize=10;1

modules-left = xwindow i3
modules-center = screensaver date weather
modules-right = pacman xbacklight memory cpu wlan battery volume temperature pomodoro

tray-position = none
tray-padding = 0
tray-transparent = false

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%
label-foreground = ${colors.magenta}

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.white}

label-layout = %layout%

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.background}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.white}

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background}
label-focused-underline= ${colors.foreground}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.red}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground}
label-empty-padding = 2

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
strip-wsnumbers = true

; workspaces icons
ws-icon-1 = web;""
ws-icon-2 = chat;""
ws-icon-0 = media;""
ws-icon-6 = term;""
ws-icon-7 = doc;""
ws-icon-8 = code;""
ws-icon-9 = scribus;""

; Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = ${colors.green}
label-mode-background = ${colors.blue}

label-focused = %name%
label-focused-foreground = ${colors.yellow}
label-focused-background = ${colors.background}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-foreground = ${colors.blue}
label-visible-background = ${colors.green}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.background}
label-urgent-foreground = ${colors.red}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight

format = <ramp>

ramp-0 = 🌕
ramp-1 = 🌔
ramp-2 = 🌓
ramp-3 = 🌒
ramp-4 = 🌑
ramp-foreground = ${colors.green}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 1
format = <ramp-coreload>

ramp-coreload-0 = ▁
ramp-coreload-0-foreground = ${colors.blue}
ramp-coreload-1 = ▂
ramp-coreload-1-foreground = ${colors.blue}
ramp-coreload-2 = ▃
ramp-coreload-2-foreground = ${colors.yellow}
ramp-coreload-3 = ▄
ramp-coreload-3-foreground = ${colors.yellow}
ramp-coreload-4 = ▅
ramp-coreload-4-foreground = ${colors.magenta}
ramp-coreload-5 = ▆
ramp-coreload-5-foreground = ${colors.magenta}
ramp-coreload-6 = ▇
ramp-coreload-7 = █
ramp-coreload-foreground = ${colors.red}

[module/memory]
type = internal/memory
interval = 1
format = <bar-used>

bar-used-indicator =
bar-used-width = 5
bar-used-foreground-0 = ${colors.blue}
bar-used-foreground-1 = ${colors.yellow}
bar-used-foreground-2 = ${colors.magenta}
bar-used-foreground-3 = ${colors.red}
bar-used-foreground-4 = ${colors.red}
bar-used-fill = ▐
bar-used-empty = ▐
bar-used-empty-foreground = ${colors.background}

[module/wlan]
type = internal/network
interface = wlp4s0
interval = 3.0

format-connected = <ramp-signal>
label-connected = %essid%

format-disconnected = <label-disconnected>
label-disconnected = 
label-disconnected-foreground = ${colors.red}

ramp-signal-0 = 
ramp-signal-0-foreground = ${colors.red}
ramp-signal-1 = 
ramp-signal-1-foreground = ${colors.magenta}
ramp-signal-2 = 
ramp-signal-2-foreground = ${colors.yellow}
ramp-signal-3 = 
ramp-signal-3-foreground = ${colors.blue}

[module/eth]
type = internal/network
interface = net0
interval = 3.0

format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground}
label-connected = %local_ip%

format-disconnected = <label-disconnected>
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.red}

[module/date]
type = internal/date
interval = 1

date = %c
date-alt = %s

format-prefix =
format-prefix-foreground = ${colors.white}

label = %date%

[module/weather]
type = custom/script
interval = 600
exec = $HOME/.config/polybar/weather bar

[module/screensaver]
type = custom/script
interval = 1
exec-if = $HOME/.config/polybar/screensaver_on
format = 
exec = echo "a"


[module/volume]
type = internal/volume

format-volume = <label-volume> <bar-volume>
label-volume = 
label-volume-foreground = ${colors.blue}

format-muted-prefix = 
format-muted-foreground = ${colors.red}
label-muted = ﻿

bar-volume-width = 10
bar-volume-foreground = #0a81f5
bar-volume-gradient = true
bar-volume-indicator =
bar-volume-indicator-font =
bar-volume-fill = )
bar-volume-fill-font = 2
bar-volume-empty =
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.background}

[module/battery]
type = internal/battery
battery = BAT0
;deficient adapter
adapter =
full-at = 98

format-charging = <animation-charging>
format-charging-foreground = ${colors.green}

format-discharging = <ramp-capacity>

format-full-prefix = 
label-full = ﻿
format-full-prefix-foreground = ${colors.blue}

ramp-capacity-0 = 
ramp-capacity-0-foreground = ${colors.red}
ramp-capacity-1 = 
ramp-capacity-1-foreground = ${colors.magenta}
ramp-capacity-2 = 
ramp-capacity-2-foreground = ${colors.yellow}
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.green}

animation-charging-0 = 
animation-charging-0-foreground = ${colors.red}
animation-charging-1 = 
animation-charging-1-foreground = ${colors.magenta}
animation-charging-2 = 
animation-charging-2-foreground = ${colors.yellow}
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = ${colors.green}
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp>
format-warn = <ramp> <label-warn>

label = %temperature%
label-warn = %temperature%
label-warn-foreground = ${colors.red}

ramp-0 = 
ramp-0-foreground = ${colors.blue}
ramp-1 = 
ramp-1-foreground = ${colors.green}
ramp-2 = 
ramp-2-foreground = ${colors.yellow}
ramp-3 = 
ramp-3-foreground = ${colors.magenta}
ramp-4 = 
ramp-4-foreground = ${colors.red}

[module/powermenu]
type = custom/menu

format-spacing = 1

label-open = 
label-open-foreground = ${colors.red}
label-close = 
label-close-foreground = ${colors.red}
label-separator = |
label-separator-foreground = ${colors.white}

menu-0-0 = 
menu-0-0-exec = menu-open-1
menu-0-1 = 
menu-0-1-exec = menu-open-2

menu-1-0 = 
menu-1-0-exec = menu-open-0
menu-1-1 = 
menu-1-1-exec = sudo reboot

menu-2-0 = 
menu-2-0-exec = sudo poweroff
menu-2-1 = 
menu-2-1-exec = menu-open-0

[settings]
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0

[module/pacman]
type = custom/script
format = <label>
exec = $HOME/.config/polybar/updates
exec-if = "ping -q -w 2 -c 1 176.34.135.167 > /dev/null"
interval = 60
format-foreground = ${colors.cyan}
label = "%output:0:30%"


[module/pomodoro]
type = custom/script
; Use pomodoro glyphs in Nerd fonts
exec = pymodoro -sp $HOME/Music/Ressources/pomodoro_end.wav -sb $HOME/Music/Ressources/break_end.waav -st $HOME/Music/Ressources/clock_tick.wav --tick --break-prefix " " --pomodoro-prefix " " --pomodoro  --empty  --break  --length 5
; Use default symbols
label = %output%
tail = true
interval = 0
; Start or reset the timer
click-left = if [ -e ~/.pomodoro_session ]; then rm ~/.pomodoro_session; else echo "25 5" > ~/.pomodoro_session; fi
; Increase pomodoro time
click-right = echo "$((`cut .pomodoro_session -d ' ' -f 1`+5)) 5" > .pomodoro_session
; Reduce pomodoro time
click-middle = echo "$((`cut .pomodoro_session -d ' ' -f 1`-5)) 5" > .pomodoro_session
