[bar/supergeneric]
monitor=eDP1
bottom = false
width = 60%
height = 40
offset-x = 40%
offset-y = 0
background = #545455
foreground = #adaeaf

;padding-left = 0
;padding-right = 0
module-margin = 1

font-0 = Ubuntu Mono:size=12;2
font-1 = FontAwesome:size=13;3

modules-left = cpu memory filesystem
modules-right = volume battery date powermenu

;click-left =
;click-middle =
;click-right =
;scroll-up =
;scroll-down =
;double-click-left =
;double-click-middle =
;double-click-right =

[module/cpu]
type = internal/cpu
interval = 2
format = <label> <bar-load>
label = 
bar-load-width = 12
bar-load-indicator =
bar-load-fill = ─
bar-load-empty = ─
bar-load-indicator-foreground = #545455
bar-load-fill-foreground = #079db1

[module/memory]
type = internal/memory
interval = 3
format = <label> <bar-used>
label = 
bar-used-width = 12
bar-used-indicator =
bar-used-fill = ─
bar-used-empty = ─
bar-used-indicator-foreground = #545455
bar-used-fill-foreground = #079db1

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 15
format-mounted = <label-mounted> <bar-used>
label-mounted = 
bar-used-width = 12
bar-used-indicator =
bar-used-fill = ─
bar-used-empty = ─
bar-used-indicator-foreground = #545455
bar-used-fill-foreground = #079db1

[module/battery]
type = internal/battery
full-at = 99
battery = BAT0
adapter = AC0
poll-interval = 10
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
format-full = <ramp-capacity> <label-full>
label-charging = %percentage%%
label-discharging = %percentage%%
label-full = %percentage%%
format-charging-padding = 1
format-discharging-padding = 1
format-full-padding = 1

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750

[module/volume]
type = internal/volume
format-volume = <ramp-volume> <label-volume>
format-muted = <label-muted>
label-volume = %percentage%%
label-muted =  mute
label-muted-foreground = #aaa
format-volume-padding = 1
format-muted-padding = 1

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-headphones-0 = 

[module/date]
type = internal/date
interval = 1.0
date = %a %b %d,
time = %H:%M
date-alt = %A, %d %B %Y
time-alt = %H:%M:%S
label = %date% %time%
format =  <label>
format-background = #232323
format-padding = 2

[module/powermenu]
type = custom/menu

label-open = 
label-close = 
label-open-padding-left = 0
label-open-padding-right = 2
label-close-padding = 2

menu-0-0 = 
menu-0-0-exec = poweroff
menu-0-1 = 
menu-0-1-exec = reboot
menu-0-2 = 
menu-0-2-exec = xfce4-terminal --command=nmtui
menu-0-3 = 
menu-0-3-exec = xfce4-terminal --command=pianobar --geometry=100x25
menu-0-4 = 
menu-0-4-exec = xfce4-terminal --command=wttr.sh --geometry=125x42

menu-0-0-padding = 1
menu-0-1-padding = 1
menu-0-2-padding = 1
menu-0-3-padding = 1
menu-0-4-padding = 1
