;=======================================;
;                                       ;
;   Clean and green polybar config      ;
;                                       ;
;=======================================;

;
; Colors
;

[colors]
graphite = #131A21
gray = #707f9c
green = #50fa7b
white = #ffffff

;
; Bar
;

[bar/CBGB]

monitor = eDP1
width = 100%
height = 35
offset-x = 0%
offset-y = 0%
radius = 0.0

background = ${colors.graphite}
foreground = ${colors.white}

border-size = 3
border-color = ${colors.graphite}

module-margin-left = 1
module-margin-right = 1

font-0 = Iosevka:pixelsize=12;3
font-1 = Iosevka:weight=light:pixelsize=15;3
font-2 = FontAwesome:pixelsize=16;3
font-3 = Iosevka:pixelsize=20
font-4 = icomoon:pixelsize=12;3

;modules-left = workspaces
modules-left = bspwm windowlist
modules-right =  volume date powermenu

wm-restack = bspwm

;
; xkeyboard
;

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

label-layout = %layout%

label-indicator-padding = 2
label-indicator-margin = 1

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1; 
icon-1 = 2; 
icon-2 = 3; 
icon-3 = 4; 
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %icon%

label-active = " %icon% "
label-active-foreground = #51CDCB
label-active-background = #1E242E
;label-active-underline = #F5166A

label-occupied = " %icon% "
label-occupied-underline = #EFC8AA
label-occupied-background = #1E242E
label-occupied-foreground = #34C8BC

label-urgent = " %icon%"
label-urgent-foreground = #ffffff
label-urgent-background = #1E242E
label-urgent-underline = #34C8BC

label-empty = " %icon% "
label-empty-foreground = #ffffff
label-empty-background = #1E242E

;
; Bspwm
;

[module/bspwm]
type = internal/bspwm

label-focused = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-focused-background = ${colors.green}
label-focused-foreground = ${colors.graphite}
label-focused-underline= #fff
label-focused-padding = 0

label-occupied = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-occupied-foreground = ${colors.white}
label-occupied-padding = 0

label-urgent = "%{T4} %{T-}%{T2}%index%!%{T-}%{T4} %{T-}"
label-urgent-foreground = ${colors.green}
label-urgent-padding = 0

label-empty = "%{T4} %{T-}%{T2}%index%%{T-}%{T4} %{T-}"
label-empty-foreground = ${colors.gray}
label-empty-padding = 0

;
; Network
;

[module/wired]
type = internal/network
interface = enp3s0
interval = 3.0

format-connected = <label-connected>

format-connected-foreground = ${colors.green}
label-connected =""

format-disconnected = <label-disconnected>
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.white}

;
; DateTime
;

[module/date]
type = internal/date
interval = 5

date = ""
date-alt = " %a %d %b"

time = %H:%M
time-alt = %H:%M

label = %date% %time%

;
; Volume
;

[module/volume]
type = internal/volume

format-volume = <ramp-volume>
label-volume = %percentage%%
label-volume-foreground = #7DCDCC

format-muted-prefix = " "
format-muted-foreground = ${colors.graphite}
format-muted-background =
label-muted = sound muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

;
; Powermenu
;

[module/powermenu]
type = custom/menu

label-open = "%{T4} %{T-}%{T4} %{T-}"
label-close =
format = <label-toggle><menu>
label-separator = " : "

format-foreground = #51CDCB
format-background = #1E242E

menu-0-0 = 
menu-0-0-exec = menu-open-1
menu-0-1 = 
menu-0-1-exec = menu-open-2
menu-0-2 = 
menu-0-2-exec = menu-open-3
menu-0-3 = " "

menu-1-0 = 
menu-1-0-exec = systemctl suspend -i
menu-1-1 = "  "

menu-2-0 = 
menu-2-0-exec = systemctl reboot -i
menu-2-1 = ""

menu-3-0 = 
menu-3-0-exec = systemctl poweroff -i
menu-3-1 = ""

;

;
; Window-list
;

[module/windowlist]
type = custom/script
exec = /home/pringle/.config/polybar/scripts/windowlist.sh

;zero interval causes high cpu load
interval = 0.5

scroll-up = bspc node -f prev.local
scroll-down = bspc node -f next.local
