[colors]
background = #0C0D0F
bg2 = #1E242E
mod-b = #00ACB0
mod_background1 = #90D4A3
mod_background2 = #98BB94
mod_background3 = #74D47D
foreground = #000000

[bar/emerald]
monitor = ${env:MONITOR:eDP1}
width = 100%
height = 35
offset-x = 0
offset-y = 0
radius = 0
fixed-center = true
override-redirect = true
enable-ipc = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3
border-size = 0

padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0

font-0 = Fyodor:pixelsize=11;2
font-1 = Material Design Icons:pixelsize=13;2
font-2 = fontawesome:pixelsize=12;3
font-3 = WunconSiji:size=4;2
font-4 = icomoon:size=9;2
font-5 = GohuFont:pixelsize=10;0

modules-left = workspaces weather
modules-center = mpd
modules-right = network updates volume battery menu

tray-position = false
tray-transparent = false
tray-background = ${colors.mod_background1}

wm-restack = bspwm

[module/padding]
type=custom/text
content=||
content-foreground=${colors.background}
content-background=${colors.background}

[module/clock]
type = internal/date
format = <label>
interval = 5
time = %R
format-foreground = ${colors.mod_background3}
label = %{A1:gsimplecal & disown:} %{A3:gsimplecal & disown:} %time% %{A} %{A}

[module/date1]
type = internal/date
interval = 1
date = "%I:%M"
;format-prefix = 
format-prefix-foreground = ${colors.mod_background3}
format-background = ${colors.background}
format-padding = 2

[module/bspwm]
type = internal/bspwm

enable-scroll = false

format = <label-state><label-mode>
format-padding = 2
format-background = ${colors.mod_background1}

inline-mode = true

ws-icon-default = 
label-focused =
label-focused-foreground = #000000

label-occupied = %icon%
label-occupied-foreground = #1B2443

label-urgent = %icon%
label-urgent-foreground = #31ABDE

label-empty = %icon%
label-empty-foreground = #FFFFFF

label-dimmed-urgent = %icon%
label-dimmed-urgent-foreground = #FFFFFF

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1; 
icon-1 = 2; 
icon-2 = 3; 
icon-3 = 4; 
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %icon%

label-active = " %icon% "
label-active-foreground = #00ACB0
label-active-background = #1E242E
;label-active-underline = #F5166A

label-occupied = " %icon% "
label-occupied-underline = #EFC8AA
label-occupied-background = #1E242E
label-occupied-foreground = #34C8BC

label-urgent = " %icon%"
label-urgent-foreground = #ffffff
label-urgent-background = #1E242E
label-urgent-underline = #34C8BC

label-empty = " %icon% "
label-empty-foreground = #ffffff
label-empty-background = #1E242E

[module/mpd]
type = internal/mpd
format-online = <label-song>
format-offline = <label-offline>
label-offline = mpd offline
format-padding = 3
icon-play =
icon-pause = 
icon-stop = 
icon-prev = 
icon-next = 
icon-random = 
icon-repeat = 
toggle-on-foreground = ${colors.yellow}
toggle-off-foreground = ${colors.urgent}
bar-progress-width = 30
bar-progress-fill = 
bar-progress-empty = 
bar-progress-indicator = 
bar-progress-indicator-foreground = ${colors.trim}
bar-progress-fill-foreground = ${colors.trim}
bar-progress-empty-foreground = ${colors.urgent}

[module/date]
type = internal/date
interval = 1
date = "   %B, %a %d"
time = "%H:%M:%S   "
format =%{A1:.config/polybar/calendar.sh:}<label> %{A}
format-background = ${colors.background}
format-foreground = ${colors.mod_background3}
label = %date% %time%

[module/updates]
type = custom/script
interval = 1200
format = <label>
label = "%output:0:30%"
exec = $HOME/.config/polybar/scripts/pkg.sh
exec-if = "ping -q -w 2 -c 1 176.34.135.167 > /dev/null"
label-padding = 2
;format-foreground = #ffffff
label-background = #1E242E
label-foreground = #ffffff

[module/weather]
type = custom/script
interval = 600
format = <label>
label = "%output:0:30%"
exec = python .config/polybar/scripts/weather.py &> weather.txt && tail -1 weather.txt
;exec-if = "ping -q -w 2 -c 1 176.34.135.167 > /dev/null"
label-padding = 2
;format-foreground = #ffffff
label-background = ${colors.mod_background3}
label-foreground = #000000


[module/volume]
type=internal/volume
format-volume = <ramp-volume><label-volume>

label-volume-padding=1
label-volume = %percentage%
label-volume-background=${colors.bg2}
label-volume-foreground=#ffffff

label-muted =  muted
label-muted-foreground=#000000
label-muted-background=${colors.bg2}

ramp-volume-0 =
ramp-volume-1 =
ramp-volume-2 =
ramp-volume-background=${colors.bg2}
ramp-volume-foreground=#000000
ramp-volume-padding = 1

[module/battery]
type = internal/battery
battery = BAT1
adapter = ADP1
full-at = 97

format-charging = <animation-charging> <label-charging>
format-charging-background = ${colors.mod_background2}
label-charging = %percentage%
label-charging-padding = 1
format-charging-padding = 1

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-background = ${colors.mod_background2}
label-discharging = %percentage%
label-discharging-padding = 1

label-full = 
label-full-padding = 1
format-full-background = ${colors.mod_background2}
format-full-foreground = #000000

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 
animation-charging-6 = 

animation-charging-background = ${colors.mod_background2}
animation-charging-foreground = #000000

animation-charging-framerate = 750

[module/dropbox]
type = custom/script
exec = /home/pringle/.config/polybar/scripts/dropbox
interval = 1
label = %output%
format = <label>
click-left = /home/pringle/.config/polybar/scripts/dropbox toggle
tail = true

[module/usb]
type = custom/script
interval = 10
; Could be exec = ~/.config/polybar/usb.sh /media/$USER
exec = /home/pringle/.config/polybar/scripts/usb.sh
; Unmount every devices on click
click-left = udiskie-umount -a
label = "%output:0:80%"
format = "<label>"

[module/network]
type = custom/script
label-background = ${colors.backgropund}
exec = $HOME/.config/polybar/scripts/network.sh
click-left = networkmanager_dmenu
click-right = networkmanager_dmenu
label-padding = 1
interval = 1
tail = true

[module/window_count]
type = custom/script
interval = 1
label = %{A1:skippy-xd --toggle-window-picker:}   %output%  %{A}
exec = echo "$(($(wmctrl -l -i | wc -l)-1))"
format = <label>
;format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-padding = 1

[module/speedtest]
type = custom/script
exec = /home/pringle/.config/polybar/scripts/speedtest_api.py
tail = true
interval = 3600

[module/menu]
type = custom/menu

format-spacing = 1
label-open = "  "
label-open-foreground = ${colors.mod-b}
label-open-background = ${colors.bg2}
label-close-background = ${colors.mod-b}
label-close = "  "
label-close-foreground = #ffffff
label-separator = "│"
label-separator-foreground = #F9987D
label-open-padding = 2

menu-0-0 = 
menu-0-0-exec = menu-open-1
menu-0-1 = 
menu-0-1-exec = menu-open-2
menu-0-2 = 
menu-0-2-exec = menu-open-3
menu-0-3 = 
menu-0-3-exec = menu-open-4

menu-1-0 = "  "
menu-1-0-exec = exo-open --launch vivaldi-snapshot
menu-1-1 = "  "
menu-1-1-exec = exo-open --launch xfce4-terminal
menu-1-2 = "  "
menu-1-2-exec = exo-open --launch thunar
menu-1-3 = "  "
menu-1-3-exec = atom

menu-2-0 = "  "
menu-2-0-exec = gcolor2
menu-2-1 = "  "
menu-2-1-exec = spotify --force-device-scale-factor=1.5
menu-2-2 = "  "
menu-2-2-exec = wpg
menu-2-3 = "  "
menu-2-3-exec = yakyak
menu-2-4 = "  "
menu-2-4-exec = lxappearance
menu-2-5 = "  "
menu-2-5-exec = scrot %F-%S_$wx$h_scrot.png -e 'mv $f ~/images'

menu-3-0 = "  "
menu-3-0-exec = audacious &
menu-3-1 = "  "
menu-3-1-exec = playerctl stop
menu-3-2 = "  "
menu-3-2-exec = playerctl previous
menu-3-3 = "  "
menu-3-3-exec = playerctl play-pause
menu-3-4 = "  "
menu-3-4-exec = playerctl next

menu-4-0 = "  "
menu-4-0-exec = slimlock
menu-4-1 = "  "
menu-4-1-exec = systemctl reboot
menu-4-2 = "  "
menu-4-2-exec = systemctl poweroff

[global/wm]
margin-bottom = 0

;
