;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[colors]
;background = ${xrdb:color0:#222}
background = #28303D
background-alt = #1F292F
foreground = #fff
;foreground = #dfdfdf
foreground-alt = #fff
primary = #87DFE4
secondary = #cb6077
alert = #e3788f


[bar/XYZ]
monitor = eDP1
width = 100%
height = 32
;offset-x = 1%
;offset-y = 1%
radius = 0.0
fixed-center = false

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #cb6077

border-size = 0
;border-left-size = 25
;border-right-size = 25
;border-top-size = 25
;border-bottom-size = 0
border-color = #6699CC

padding-left = 4
padding-right = 4

module-margin-left = 4
module-margin-right = 4

font-0 = fontawesome:size=9;1
font-1 = inconsolata:size=8;1
#font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=9;1

;modules-left = bspwm i3
;modules-left = battery
modules-center = mpd
modules-left = menu-apps workspace window_count scrot ewmh
modules-right =  volume xbacklight seperator redshift redshiftChecker wlan eth battery date
;modules-right = filesystem memory cpu temperature

tray-position = none
tray-padding = 10
tray-maxsize = 22
tray-transparent = true
tray-background = #2f343f

;wm-restack = bspwm
;wm-restack = i3

override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev
[bar/bar2]
monitor = HDMI2
width = 100%
height = 24
;offset-x = 1%
;offset-y = 1%
radius = 0.0
fixed-center = false
bottom = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #cb6077

border-size = 0
;border-left-size = 25
;border-right-size = 25
;border-top-size = 0
;border-bottom-size = 25
border-color = #00000000

padding-left = 4
padding-right = 4

module-margin-left = 4
module-margin-right = 4

font-0 = fontawesome:size=9;1
font-1 = inconsolata:size=8;1
#font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=9;1

;modules-left = bspwm i3
modules-left = i3
;modules-center = wlan
;modules-right = filesystem xbacklight volume xkeyboard memory cpu wlan eth battery temperature date powermenu
modules-right = memory cpu temperature xbacklight wlan eth date

tray-position = right
tray-padding = 1
tray-maxsize = 22
;tray-transparent = true
tray-background = #aa2f343f

;wm-restack = bspwm
;wm-restack = i3

override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

[module/nightmode]
type = custom/script
echo = ""

[module/music]
type = custom/script
interval = 0.01
exec = python3 /home/pringle/praghaplayer.py
format-foreground = #2de0a7
format-background = #3a3c61
click-left = exec pragha -t
click-right = exec pragha -x
scroll-up = exec pragha -i
scroll-down = exec pragha -d

[module/previous]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec pragha -r
format-foreground = #2de0a7
format-background = #3a3c61

[module/next]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec pragha -n
format-foreground = #2de0a7
format-background = #3a3c61

[module/pauseplay]
type = custom/script
format-text =  <label>
label = 
exec = echo label
click-left = exec deadbeef --play-pause
format-foreground = #2de0a7
format-background = #3a3c61


[module/xwindow]
type = internal/xwindow
label = %title:0:20:...%

format-prefix = " "
format-prefix-foreground = #cb6077
format-underline = #cb6077

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = #bec55b
format-prefix-underline = #bec55b

label-layout = %layout%
label-layout-underline = #bec55b

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 30

mount-0 = /

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}
format-prefix = " "

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

[module/ewmh]
type = internal/xworkspaces

; Only show workspaces defined on the same output as the bar
;
; Useful if you want to show monitor specific workspaces
; on different bars
;
; Default: false
pin-workspaces = true

; Create click handler used to focus desktop
; Default: true
enable-click = true

; Create scroll handlers used to cycle desktops
; Default: true
enable-scroll = true

; icon-[0-9]+ = <desktop-name>;<icon>
; NOTE: The desktop name needs to match the name configured by the WM
; You can get a list of the defined desktops using:
; $ xprop -root _NET_DESKTOP_NAMES
icon-0 = code;♚
icon-1 = office;♛
icon-2 = graphics;♜
icon-3 = mail;♝
icon-4 = web;♞
icon-default = 

; Available tags:
;   <label-monitor>
;   <label-state> - gets replaced with <label-(active|urgent|occupied|empty)>
; Default: <label-state>
format = <label-state>

; Available tokens:
;   %name%
; Default: %name%
label-monitor = %name%

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon%  %index%
label-active = 
label-active-foreground = #1fa7ba
label-active-background = #28303D
label-active-underline = #18191C

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon%  %name%
label-occupied = %icon%
label-occupied-underline = #555555

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon%  %name%
label-urgent = %iconDC4878
label-urgent-foreground = #37A7B8
label-urgent-background = #bd2c40
label-urgent-underline = #9894B8

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon%  %name%
label-empty = %icon%
label-empty-foreground = #55

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-7 = 8;
ws-icon-8 = 9;
ws-icon-9 = 10;
ws-icon-default = " "

label-mode-padding = 2
label-mode-foreground = #2f343f
label-mode-background = #cb6077

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = ${colors.background}
label-focused-foreground = #e4bc87
label-focused-underline = #e4bc87
label-focused-padding = 4

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = 4

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = 4

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${self.label-focused-background}
label-urgent-foreground = #cb6077
label-urgent-padding = 4

[module/mpd]
type = internal/mpd
;format-online =  "<label-song>   <icon-prev>  <icon-stop>  <toggle>  <icon-next>"
;format-online =  "  <label-song>  <bar-progress>"

host = 127.0.0.1
port = 6600

format-online =  "<toggle>    <bar-progress>  <icon-prev>  <icon-next>"
label-offline =  mpd is offline

icon-prev = 
icon-stop =
;icon-play = 
;icon-pause = 
icon-pause = 
icon-play = 
icon-next =
label-song-maxlen = 40
label-song-ellipsis = true

bar-progress-width = 15
bar-progress-indicator = |
bar-progress-fill = ─
bar-progress-empty = ─
[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = %percentage%%

label-indicator-foreground = #DC4878
bar-width = 10
bar-indicator = |
bar-indicator-foreground = #41AD8C
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #81C0FF
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

format-prefix = " "
format-prefix-foreground = #fcd49f
format-underline = #1D1F21

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
;format = <label> <ramp-coreload>
format = <label>
format-prefix = " "
format-prefix-foreground = #cb6077
format-prefix-background =
format-underline = #5B59AC
label = %percentage%%

ramp-coreload-0 = %{F#cb6077}▁%{F-}
ramp-coreload-1 = %{F#cb6077}▂%{F-}
ramp-coreload-2 = %{F#cb6077}▃%{F-}
ramp-coreload-3 = %{F#cb6077}▄%{F-}
ramp-coreload-4 = %{F#cb6077}▅%{F-}
ramp-coreload-5 = %{F#cb6077}▆%{F-}
ramp-coreload-6 = %{F#cb6077}▇%{F-}
ramp-coreload-7 = %{F#cb6077}█%{F-}

[module/memory]
type = internal/memory
interval = 2
;format = <label> <bar-used>
format = <label>
format-prefix = " "
format-prefix-foreground = #bec55b
format-underline = #655988
label = %gb_used%

bar-used-indicator =
bar-used-width = 10
bar-used-foreground-0 = #bec55b
bar-used-foreground-1 = #bec55b
bar-used-foreground-2 = #bec55b
bar-used-foreground-3 = #bec55b
bar-used-fill = 
bar-used-empty = 
bar-used-empty-foreground = #bec55b

[module/wlan]
type = internal/network
interface = wlan1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #a89bb9
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

;ramp-signal-0 = ▁
;ramp-signal-1 = ▂
;ramp-signal-2 = ▃
;ramp-signal-3 = ▄
;ramp-signal-4 = ▅
;ramp-signal-5 = ▆
;ramp-signal-6 = ▇
;ramp-signal-7 = █

ramp-signal-0 = ▁
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-5 = 
ramp-signal-6 = 
ramp-signal-7 = 

ramp-signal-foreground = #a89bb9

[module/eth]
type = internal/network
interface = enp1s0
interval = 3.0

format-connected-underline = #7bcdb4
format-connected-prefix = " "
format-connected-prefix-foreground = #7bcdb4
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

#date = %d %B
#date-alt = " %m-%d"

;time = %H:%M
time = @ %H:%M
time-alt = %H:%M:%S

#format
-prefix = " "
format-foreground = #fff
format-underline = #AAA2F0
format-background = #181728303D20

label = %date% %time%

[module/volume]
type = internal/volume

format-volume = "<label-volume>  <bar-volume>"
label-volume = 
label-volume-foreground = #9DBDBF

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground}
label-muted = muted

bar-volume-width = 10
bar-volume-foreground-0 = #1FBAB8
bar-volume-foreground-1 = #1FBAB8
bar-volume-foreground-2 = #9C98BD
bar-volume-foreground-3 = #9C98BD
bar-volume-foreground-4 = #AAA2F0
bar-volume-foreground-5 = #AAA2F0
bar-volume-foreground-6 = #DC4878
bar-volume-gradient = true
bar-volume-indicator = -
bar-volume-indicator-font = 2
bar-volume-fill = -
bar-volume-fill-font = 2
bar-volume-empty = -
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC0
full-at = 97

format-charging = <animation-charging> <label-charging>
label-charging =  %percentage%%
format-charging-underline = #D7B0D6

format-discharging = <bar-capacity> <label-discharging>
label-discharging =  %percentage%%
format-discharging-underline = #c7ae25

format-full-prefix = " "
format-full-prefix-foreground = #C8DFE0
format-full-underline = #50B1A8

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = #20B494

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = #62A2A6
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #583C86
format-warn = <ramp> <label-warn>
format-warn-underline = #7bcdb4

label = %temperature%
;label-warn =  %temperature%
;label-warn-foreground = #c7254f

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-foreground = #7bcdb4

[module/redshift]
type = custom/script
interval = 1
tail = true
format = <label>
exec = tail -F $(~/.config/polybar/redshift.sh path) 2>/dev/null

[module/redshiftChecker]
type = custom/script
interval = 600
format = <label>
exec = ~/.config/polybar/redshift.sh &>/dev/null

[module/menu-apps]
type = custom/menu

; "menu-LEVEL-N" has the same properties as "label-NAME" with
; the additional "exec" property
;
; Available exec commands:
;   menu-open-LEVEL
;   menu-close
; Other commands will be executed using "/usr/bin/env sh -c $COMMAND"

menu-0-0 = Most Used
menu-0-0-exec = menu-open-1
menu-0-2 = Utility
menu-0-2-exec = menu-open-2

menu-1-0 = Vivaldi
menu-1-0-exec = vivaldi-snapshot &
menu-1-1 = Thunar
menu-1-1-exec = thunar &
menu-1-2 = Scrot
menu-1-2-exec = scrot  -d 10 &

menu-2-0 = terminal
menu-2-0-exec = xfce4-terminal &
menu-2-1 = Scrot
menu-2-1-exec = scrot  -d 10 &

; Available tags:
;   <label-toggle> (default) - gets replaced with <label-(open|close)>
;   <menu> (default)
;format = <label-toggle> <menu>

label-open = Apps
label-close = x

; Optional item separator
; Default: none
label-separator = |

[module/powermenu]
type = custom/menu

format-spacing = 1

label-open = 
label-open-foreground = ${colors.secondary}
label-close =  close
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-
exec = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini

[module/windowlist]
type = custom/script
exec = /home/pringle/.config/polybar/windowlist.sh

;zero interval causes high cpu load
interval = 0.5

scroll-up = bspc node -f prev.local
scroll-down = bspc node -f next.local

[module/mail]
type = custom/script
exec = /home/pringle/.config/polybar/mail.py
interval = 30
label =  %output%
label-foreground - #fff
click-left = exec vivaldi-snapshot gmail.com &

[module/pkg]
type = custom/script
interval = 1200
format = <label>
format-underline = #A66983
label-foreground = #fff
label = "%output:0:30%"
exec = .config/polybar/pkg.sh
exec-if = "ping -q -w 2 -c 1 176.34.135.167 > /dev/null"

[module/separator]
type = custom/text
content = " | "
content-foreground = #fffff


[module/spotify]
type = custom/script
exec = .config/polybar/spotify_p.sh
tail = true
interval = 2

[module/taskwarrior]
interval = 30
type = custom/script
exec = /home/pringle/.config/polybar/task_polybar.sh
format = <label>
format-foreground = #FFF
format-prefix = " "
click-left = task "$((`cat /tmp/tw_polybar_id`))" done

[module/demo]
type = custom/ipc
hook-0 = uptime -p
hook-1 = source ~/.config/polybar/Scripts.sh;dayDiff
hook-2 = whoami
initial = 1
click-left = polybar-msg -p %pid% hook demo 1
click-right = polybar-msg -p %pid% hook demo 2
double-click-left = polybar-msg -p %pid% hook demo 3

[module/hide]
interval = 30
type = custom/script
exec = /home/pringle/.config/polybar/hide.sh
label =   hide
format-foreground = #FFF

[module/arch]
type = custom/text
content = "   "
click-left = pymenu.py

[module/window_count]
type = custom/script
interval = 1
label = %{A1:rofi -width 30 -location 1 -xoffset 3 -show window:}%output% %{A}
exec = echo "$(($(lsw | wc -l)-1))"
format = <label>
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}


[module/scrot]
type = custom/text
content = 
content-foreground = ${colors.foreground}

[module/workspace]
type = custom/script
interval = 1
label = %{A4:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))":}%{A5:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)-1))":}%output% %{A}%{A}
exec = echo "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))"
format = <label>
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}

[module/workspace-box]
type = internal/i3
format = <label-state><label-mode>
pin-workspaces = true
strip-wsnumbers = true
index-sort = true
enable-click = true
enable-scroll = false
wrapping-scroll = false
reverse-scroll = false
fuzzy-match = true
label-mode-padding = 1
label-mode = %mode%
label-mode-foreground = ${colors.foreground}
label-mode-background = ${colors.background}
label-focused = ""
label-focused-foreground = ${colors.foreground}
label-focused-background = ${colors.background}
label-focused-padding = 1
label-unfocused = ""
label-unfocused-foreground = ${colors.foreground}
label-unfocused-background = ${colors.foreground-alt}
label-unfocused-padding = 1
label-urgent = ""
label-urgent-foreground = ${colors.red}
label-urgent-background = ${colors.foreground-alt}
label-urgent-padding = 1
label-visible = ""
label-visible-foreground = ${colors.foreground}
label-visible-background = ${colors.foreground-alt}
label-visible-padding = 1

[module/rofi]
type = custom/script
exec = echo ""
click-left = rofi-launcher
