;

[colors]
foreground = #dfddd5
background = #0B1117
modb = #070D13
modb1 = #070D13
modb2 = #312057
accent_1 = #53398C
accent_2 = #00A2B7
accent_3 = #BA386F
accent_4 = #191A29

[global/wm]
margin-top = 0
margin-bottom = 0
override-redirect = true

[bar/slimer]
monitor = eDP1
width = 100%
height = 35
offset-x = 0%
offset-y = 0

locale = de_DE.UTF-8
background = ${colors.background}
foreground = ${colors.foreground}

font-0 = Iosevka Nerd Font:size=8:antialias=true;2
;font-1 = MaterialIcons-Regular :size=10:;
font-1 = icomoon :size=11:;3
font-2 = MaterialIcons:size=10:antialias=false;2
font-3 = icomoon02:pixelsize=5;;1
font-4 = icogeneric02:pixelsize=5;5

modules-left =  powermenu  weather
modules-center = workspaces
modules-right =  memory cpu volume  date1  menu

tray-position = off
tray-padding = 2
tray-transparent = false
tray-detached = false
tray-background = ${colors.modb}

spacing = 1
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0

[bar/slimerb]
monitor = eDP1
width = 20%
height = 23
offset-x = 1650
offset-y = 0
bottom = true

;background = ${xrdb:color9}
background = ${colors.background}
foreground = ${colors.foreground}

overline-size = 2
overline-color = #f00
underline-size = 2
;underline-color = ${colors.primary}

border-bottom-size = 3
;border-bottom-color = ${colors.primary}

spacing = 0
padding-left = 0
padding-right = 2
module-margin-left = 0
module-margin-right = 2

font-0 = Iosevka Nerd Font:size=8:antialias=true;2
;font-1 = MaterialIcons-Regular :size=10:;
font-1 = icomoon :size=11:;3
font-2 = MaterialIcons:size=10:antialias=false;2
font-3 = icomoon02:pixelsize=5;;1
font-4 = icogeneric02:pixelsize=5;5

;modules-left = window_count
modules-center = weather
modules-right =

;tray-position = right
;tray-padding = 2
;tray-transparent = true
;tray-background = #0063ff



scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev
pin-workspaces = true
enable-click = false
enable-scroll = false

[module/volume]
type = internal/volume

format-volume = <ramp-volume><label-volume>

format-volume-background = ${colors.modb}
format-volume-padding = 2

module-margin-right = 0
ramp-volume-0 =
ramp-volume-1 =
ramp-volume-2 =
ramp-volume-3 =
ramp-volume-foreground = #ffffff


label-muted =  muted


[module/powermenu]
type = custom/menu

label-open =
label-open-foreground = ${colors.accent_1}
label-open-background = ${colors.background}
label-open-padding = 1
label-close =
label-close-padding = 0
format-padding = 3
label-close-foreground = $[colors.accent_2]
label-separator = |
label-separator-foreground = $[colors.accent_2]

menu-0-0 =
menu-0-0-exec = menu-open-1
menu-0-1 =
menu-0-1-exec = menu-open-2
menu-0-2 =
menu-0-2-exec = menu-open-3

menu-1-0 =
menu-1-0-exec = menu-open-0
menu-1-1 =
menu-1-1-exec = menu-1-1-exec = rofi -modi colorscheme:rofi-colorscheme-switch  -show colorscheme:rofi-colorscheme-switch

menu-2-0 =
menu-2-0-exec = atom
menu-2-1 =
menu-2-1-exec = menu-open-0

menu-3-0 =
menu-3-0-exec = rofi -modi drun,run,colorscheme:rofi-colorscheme-switch,keys,ssh,combi -show drun -sidebar-mode -font "NeuzeitGro-Reg 13 "
menu-3-1 =
menu-3-1-exec = menu-open-0

; 
;

[module/play]
type = custom/script
exec = /home/pringle/.config/polybar/Play-dark.sh
format-padding = 1
interval = 2
format = <label>
format-foreground = ${colors.foreground}
;format-background = ${colors.foreground-alt}
click-left = playerctl play

[module/previous]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec playerctl previous
format-foreground = ${colors.accent_2}
format-background = ${colors.modb1}
format-padding = 2

[module/next]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec playerctl next
format-foreground = ${colors.accent_2}
format-background = ${colors.modb1}
format-padding = 2

[module/date1]
type = internal/date
interval = 1
date = " %I:%M"
format-prefix = 
format-prefix-foreground = ${colors.accent_3}
format-background = ${colors.modb}
format-padding = 2


[module/spotipy]
type = custom/script
exec =  python3 ~/scripts/spoti.py
exec-if = pgrep spotify > /dev/null
interval = 0.01
click-left = playerctl -p spotify play-pause
format-foreground = ${colors.accent_2}
format-background = ${colors.modb1}
format-padding = 2

[module/music2]
type = custom/script
interval = 2
label = %output:0:305:...%
label-padding = 1
exec = ~/.config/polybar/mpris.sh



[module/cpu]
type = internal/cpu
label = %percentage-core1%%
format-prefix = " "
format-prefix-foreground = #ffffff
format-background = ${colors.modb}
format-padding = 2

[module/weather]
type = custom/script
interval = 10
format = <label>
format-padding = 0
format-prefix = " "
format-suffix =
format-prefix-foreground = ${colors.foreground}
format-background = ${colors.modb}
exec = /home/dead/.config/polybar/scripts/weather

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %name%

label-active = " %icon% %name% "
label-active-foreground = ${colors.accent_3}
label-active-background = ${colors.background}
label-active-underline = #F5166A

label-occupied = " %icon% %name% "
label-occupied-underline = #EFC8AA
label-occupied-background = #f7f3ee
label-occupied-foreground = #34C8BC

label-urgent = " %icon% %name% "
label-urgent-foreground = #ffffff
label-urgent-background = #007086
label-urgent-underline = #34C8BC

label-empty = " %icon% %name% "
label-empty-foreground = #ffffff

[module/windowlist]
type = custom/script
exec = /home/pringle/.config/polybar/windowlist.sh

;zero interval causes high cpu load
interval = 0.5

format-prefix = "  ""

scroll-up = bspc node -f prev.local
scroll-down = bspc node -f next.local

[module/window_count]
type = custom/script
interval = 1
label = %{A1:skippy-xd --toggle-window-picker:}   %output%  %{A}
exec = echo "$(($(wmctrl -l -i | wc -l)-1))"
format = <label>
format-prefix = "  "
format-prefix-foreground = #ffffff
format-padding = 1

[module/memory]
type = internal/memory
interval = 0.2
format = <label> <bar-used>

label = RAM
label-font = 3
label-foreground = #99

bar-used-width = 30
bar-used-gradient = true
bar-used-foreground-0 = #97ED9A
bar-used-foreground-1 = #97ED9A
bar-used-foreground-2 = #9EDFC7
bar-used-foreground-3 = #9EDFC7
bar-used-indicator = █
bar-used-indicator-font = 5
bar-used-indicator-foreground = #fff
bar-used-fill = █
bar-used-fill-font = 5
bar-used-empty = █
bar-used-empty-font = 5
bar-used-empty-foreground = #44

[module/seperator]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/seperator2]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/seperator3]
type = custom/text
content =|│
content-foreground =${colors.background}

[module/seperator4]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/seperator5]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/seperator6]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/seperator7]
type = custom/text
content =|│
content-foreground = ${colors.background}

[module/network]
type = custom/script
label-background = ${colors.modb}
exec = $HOME/.config/polybar/scripts/network.sh
click-left = networkmanager_dmenu
click-right = networkmanager_dmenu
label-padding = 1
interval = 1
tail = true

[module/config]
type = custom/script
exec = echo ""
interval = 5

label = %output%
label-padding = 2
format-prefix-foreground = ${colors.accent_2}
format = <label>

click-left = /home/pringle/go/bin/gorice dump i3 /home/pringle/.gorice/output.yaml.template; /home/pringle/bin/config_ui &
click-middle = /home/pringle/go/bin/gorice dump .i3 /home/pringle/.gorice/output.yaml.template; /home/pringle/bin/config_ui &
click-right = termite "--exec=gorice edit i3/neon" &

[module/menu]
type = custom/text

content = "    "
content-foreground = ${colors.accent_3}
content-background = #070912
click-left = /home/pringle/.config/polybar/scripts/popups/todo/todo
padding = 3

[module/mpd]
type = internal/mpd
format-online = <bar-progress>  <icon-prev> <icon-stop> <toggle> <icon-next>  <label-song>
format-online-overline = ${root.background}
format-online-underline = ${root.background}
format-offline = <label-offline>
label-offline = mpd is off
;format-online-prefix = ""

;icon-play = 
;icon-pause = 
;icon-stop = 
;icon-prev = 
;icon-next = 
;icon-random = 
;icon-repeat = 

icon-play = 
icon-pause = 
icon-stop = 
icon-prev = 
icon-next = 
icon-random = 
icon-repeat = 

;

toggle-on-foreground =
toggle-off-foreground = #55

bar-progress-width = 15
bar-progress-format = %{+o +u}%fill%%{-o -u}%indicator%%{+o +u}%empty%%{-u -o}
; bar-progress-indicator = |
bar-progress-indicator = █
bar-progress-indicator-foreground = #ffffff
bar-progress-indicator-font = 2
; bar-progress-fill = ─
bar-progress-fill = █
bar-progress-fill-foreground = #97ED9A
bar-progress-fill-font = 2
; bar-progress-empty = ─
bar-progress-empty = ▒
bar-progress-empty-font = 2
bar-progress-empty-foreground = #44

[module/news]
type = custom/script

tail = true
exec = bash -l -c '/home/dead/.config/polybar/scripts/news/launch.sh'

click-left = /home/dead/.config/polybar/scripts/news/open_url
; }}}

;
;
;  
;
;
;
;
;
; 
;

;
;
;
;
;
;
;
;
;
;
;
;
;
;


;
;
