;;;;;
; Polybar Config
;;;;;

[colors]
nord0 = #070D13
nord1 = #3B4252
nord2 = #0B121A
nord3 = #0E1822
nord4 = #D8DEE9
nord5 = #E5E9F0
nord6 = #ECEFF4
nord7 = #8FBCBB
nord8 = #88C0D0
nord9 = #81A1C1
nord10 = #5E81AC
nord11 = #BF616A
nord12 = #D08770
nord13 = #EBCB8B
nord14 = #A3BE8C
nord15 = #B48EAD
nord16 = #A61C52
nord17 = #ED475B
nord18 = #E29A91
nord19 = #DCCF9D
nord20 = #5E81AC
nord21 = #85AEE3

[module/bspwm]
type = internal/bspwm
pin-workspaces = true
enable-click = true
enable-scroll = false

label-focused = %name%
label-focused-padding = 1
label-focused-underline = ${colors.nord6}

label-occupied = %name%
label-occupied-padding = 1

label-empty = %name%
label-empty-padding = 1
label-empty-foreground = ${colors.nord3}

label-urgent = %name%
label-urgent-underline = ${colors.nord11}

[module/cpu]
type = internal/cpu
interval = 1.0
label = "CPU %percentage%%"

[module/date]
type = internal/date
interval = 1.0
;date = "%A, %m/%d/%y"
time = %H:%M
label = "%date%  %time%  "
format-background = ${colors.nord0}
format-foreground = ${colors.nord4}

[module/memory]
type = internal/memory
interval = 1.0
label = "RAM %gb_used% / %gb_free%"

[module/text]
type = custom/text
content = ""My name is Cow and wen its nite, or wen the moon is shiyning brite...""

[module/wifi]
type = internal/network
interface = enp2s0
interval = 3.0
;udspeed-minwidth = 0

format-connected = <ramp-signal> <label-connected>
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.nord6}
format-connected-prefix-offset = -6
label-connected = %downspeed:8%

;format-disconnected = <label-disconnected>
;format-disconnected-prefix = " "
;format-disconnected-prefix-foreground = ${colors.nord6}
;label-disconnected = not connected
;label-disconnected-foreground = ${colors.nord6}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = #666

[module/xbacklight]
type = internal/xbacklight
format = <ramp> <label>
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = #ffffff
label-foreground = ${colors.nord6}

[module/volume]
type = internal/volume
speaker-mixer = Speaker
headphone-mixer = Headphone
headphone-id = 9

format-volume = <ramp-volume> <label-volume>
label-volume = %percentage%%
label-volume-foreground = #1C2029
label-volume-background = #1C2029

format-muted-prefix = " "
format-muted-foreground = #777
label-muted = sound muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-3 = 
ramp-volume-foreground = #666

ramp-headphones-0 = 
ramp-headphones-1 = 
ramp-headphones-foreground = #666

[module/mpd]
type = internal/mpd

;format-online = <label-time>  <bar-progress>  <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>  <icon-repeat> <icon-random>
format-online = <label-time> %{F#88}|%{F-} <label-song> <icon-prev><icon-stop><toggle><icon-next> <icon-repeat><icon-random>
format-online-spacing = 0
format-online-background = #1C2029
format-online-underline = #cc333333
format-online-padding = 3

format-offline = <label-offline>
format-offline-foreground = #777

label-offline = mpd is off

label-song-maxlen = 45
label-song-ellipsis = true

label-time-foreground = #777

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

icon-random = 
icon-repeat = 

toggle-on-foreground = ${colors.accent}
toggle-off-foreground = #777

;bar-progress-width = 10
;bar-progress-indicator = 
;bar-progress-indicator-foreground = #bb
;bar-progress-fill = ─
;bar-progress-fill-foreground = #bb
;bar-progress-fill-font = 3
;bar-progress-empty = ─
;bar-progress-empty-foreground = #44
;bar-progress-empty-font = 3

[module/power-menu]
type = custom/menu

label-open = 
label-close = 
label-separator = 
label-separator-margin = 1
label-closed-background = #1C2029
label-open-background = #0E1822
label-open-padding = 2
format-background = #0E1822
label-closed-padding = 2
format-spacing = 0


menu-0-0 = Terminate WM
menu-0-0-foreground = ${colors.nord13}
menu-0-0-exec = bspc quit -1
menu-0-1 = Reboot
menu-0-1-foreground = ${colors.nord10}
menu-0-1-exec = menu-open-1
menu-0-2 = Power off
menu-0-2-foreground = ${colors.nord15}
menu-0-2-exec = menu-open-2
menu-0-3 = "Lock  ""
menu-0-3-foreground = ${colors.nord18}
menu-0-3-exec = lockscreen

menu-1-0 = Cancel
menu-1-0-foreground = ${colors.nord6}
menu-1-0-exec = menu-open-0
menu-1-1 = Reboot
menu-1-1-foreground = ${colors.nord6}
menu-1-1-exec = sudo reboot

menu-2-0 = Power off
menu-2-0-foreground = ${colors.nord6}
menu-2-0-exec = sudo poweroff
menu-2-1 = Cancel
menu-2-1-foreground = ${colors.nord6}
menu-2-1-exec = menu-open-0

[module/app-menu]
type = custom/menu
label-open = 
label-close = 

menu-0-0 = Vimperator
menu-0-0-exec = web
menu-0-1 = Termite
menu-0-1-exec = termite
menu-0-2 = Pcmanfm
menu-0-2-exec = pcmanfm

[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1; 
icon-1 = 2; 
icon-2 = 3; 
icon-3 = 4; 
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %icon%

label-active = " %icon% "
label-active-foreground = ${colors.nord16}
label-active-background = ${colors.nord0}
;label-active-underline = #F5166A

label-occupied = " %icon% "
label-occupied-underline = #5E81AC
label-occupied-background = ${colors.nord3}
label-occupied-foreground = #34C8BC

label-urgent = " %icon%"
label-urgent-foreground = #ffffff
label-urgent-background = ${colors.nord3}
label-urgent-underline = #34C8BC

label-empty = " %icon% "
label-empty-foreground = ${colors.nord18}
label-empty-background = #0E1822

[bar/takmobar]
monitor = eDP1
locale = en_US.UTF-8
font-0 = "Source Code Pro:size=9:weight=Regular"
font-1 = icomoon:size=10;1
font-2 = icomoon02:size=10;1
font-3 = Linearcons-Free:pixelsize=9;1
font-4 = horrible:pixelsize=10;1
font-5 = unifont:size=6;1
font-6 = siji:pixelsize=10;1

background = ${colors.nord0}
foreground = ${colors.nord4}

bottom = false
height = 28
width = 100%
offset-x = 0
offset-y = 0
border-size = 2
border-color = #000000
line-size = 2

wm-name = bspwm
wm-restack = bspwm

padding-right = 0
separator = " | "
fixed-center = false

modules-left = workspaces
modules-center = mpd
modules-right = xbacklight volume  date power-menu
